<div class="card-form">
	<div mat-dialog-title>
		<h5 class="mat-dialog-title">
            <span *ngIf="!data; else showUpdate">Add</span>
            <ng-template #showUpdate>Update</ng-template> Expense Type
            <img src="/assets/images/icons/close-dialog.png" 
            class="float-end mt-2" 
            style="width: 13px; cursor: pointer;" 
            (click)="dialogRef.close()"> 
        </h5>
		<hr>
	</div>
	<form [formGroup]="expenseTypeForm">
		<div mat-dialog-content>
            <app-textfield 
                label="Code"
                [labelTop]="true"
                [required]="true"
                formControlName="code">
            </app-textfield>

            <app-dropdown 
                label="Category" 
                [labelTop]="true"
                formControlName="category" 
                [required]="true"
                [options]="categoryOptions">
			</app-dropdown>

            <app-textfield 
                label="Name"
                [labelTop]="true"
                [required]="true"
                formControlName="name">
            </app-textfield>

            <app-textarea
            label="Description"
            [labelTop]="true"
            [required]="true"
            formControlName="description">
                
            </app-textarea>

		</div>
		<div mat-dialog-actions>
			<div class="text-center mb-3 px-0 w-100">
				<hr><br>

				<button mat-button (click)="close()" 
				class="btn  btn-header-gray me-3">Close</button>

				<button mat-button (click)="save()" 
				cdkFocusInitial class="btn btn-primary btn-header me-3">
                    <span *ngIf="!data else showSave">Add</span>
                    <ng-template #showSave>Save</ng-template>   
                </button>
			</div>
		</div>
	</form>

</div>