@import "src/scss/colors";

.card{
    padding: 1rem;
}

.card-body {
    margin: 1rem;
}

.card-title{
    font-weight: 600;
    font-size: 17px !important;
    color: $color-gray-dark !important;
}

.view-more{
    text-decoration: underline;
    color: $color-purple;
    font-weight: 600;
}

.add-new{
    cursor: pointer;
    background: $color-purple;
    vertical-align: center !important;
    color: white;
    padding: 4px 12px !important;

    .material-icons{
        font-size: 11px;
    }
}


.support-coordinate{
    font-family: "Noto Sans";
    min-width: 120px;
    margin-top: -1rem;
    &--detail {
        background: $color-purple-hover;
        color: white;
        margin: 0 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 20px 10px 15px 10px;
        width: 170px;
    }

    .title-employee-name{
        font-size: 14px !important;
    }

    .title-branch{
        font-size: 12px !important;
    }

    h5 {
        font-family: "Noto Sans" !important;
        margin-top: .5rem;
        margin-bottom: 0;
        font-size: 13px;
        color: $color-gray-text;
    }
    span {
        font-size: 10px;
        color: $color-gray-text;
    }

    .text-sub{
        font-size: 13px;
    }


    .text-title{
        font-size: 1.3rem;
        font-weight: bold !important;
    }

}


.support-description{
    .d-flex{
        align-items: center;
        column-gap: .5rem;
    }
    font-family: "Noto Sans" !important;
    .title{
        color: $color-gray-text;
        font-weight: 600 !important;
    }

    p{
        color: #767676;
        font-size: 13px;
    }

    .title-schedule{
        font-size: 14px !important;
    }

    span{
        //color: $color-lightgray;
        font-size: 11px;
    }

    .category {
        margin-bottom: 10px;
    }

    &--info {
        width: 30%;
       dl dd {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        p { margin: 0; color: $color-gray-text }
        span { color: #767676; font-size: 13px; }
       }
    }

    
}

:host ::ng-deep {
    .mat-tab-label {
        font-family: "Noto Sans" !important;
        border: 1px solid #c0c0c0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-left: 10px;
        opacity: 1;
        &:first-child {
            margin-left: 0;
        }
        &-active {
            background-color: $color-purple-dark;
            border: 0;
            .mat-tab-label-content {
                color: #fff;
            }
        }
    }
    .mat-tab-label-content {
        color: #525252;
    }
    .mat-tab-body-content {
        border-left: 1px solid #c0c0c0;
        border-right: 1px solid #c0c0c0;
        border-bottom: 1px solid #c0c0c0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .notes-section {
        border: 1px solid #c0c0c0;
        padding: 1rem;
        border-radius: 7px;
    }
}

.btn-independent {
    background: #E3E0FF;
    color: #755CA7;
}

.btn-ceo {
    background: #FFEDE0;
    color: #BE7845;
}

.btn-director {
    background: #E0F4FF;
    color: #4084A9;
}

.btn {
    letter-spacing: 0 !important;
}

.support-coordinate {
    min-width: 200px !important;
    max-width: 200px !important;
}