<div class="row mt-3" id="statistic-data">
	<div class="col-12 col-md-6 col-lg-4 mb-3" 
	*ngIf="!loading" [@animate]="{value:'*', params:{ y:'-20px', delay:'100ms' }}">
		<div class="card hvr-hang incident">
			<div class="card-body text-start p-0 d-flex">
				<div class="w-100 ps-3 pt-2">
					<h5>Incidents</h5>
					<p class="stat-header d-flex">
						<button class="btn stat-button me-2">
							{{shortifyAmount(dashboardData?.incident?.incident_total_percentage, 1)?.toFixed(1)}}% 

							<mat-icon *ngIf="dashboardData?.incident?.incident_total < dashboardData?.incident?.incident_total_last_month" class="mat-icon mt-2">arrow_downward</mat-icon>
							<mat-icon *ngIf="dashboardData?.incident?.incident_total > dashboardData?.incident?.incident_total_last_month" class="mat-icon mt-2">arrow_upward</mat-icon>
						</button> {{dashboardData?.incident?.incident_total}}
					</p>
					<p class="stat-subtitle mt-2">Total for this month</p>
				</div>
				<div class="bg-incident" style="width: 200px; position: relative !important; ">
					<img src="/assets/images/icons/dashboard/accident.png"
					style="width: 55px !important; left: 27%">
				</div>

				<!-- <a routerLink="/admin" class="btn btn-view-all">View All</a> -->
			</div>
		</div>
	</div>

	<div class="col-12 col-md-6 col-lg-4 mb-3" 
	*ngIf="!loading" [@animate]="{value:'*', params:{ y:'-20px', delay:'300ms' }}">
		<div class="card funding hvr-hang">
			<div class="card-body text-start p-0 d-flex">
				<div class="w-100 ps-3 pt-2">
					<h5>Funding</h5>
					<p class="stat-header d-flex">
						<button class="btn stat-button me-2"> 
							{{
								shortifyAmount(dashboardData?.client_funding?.client_funding_total_percentage, 1)?.toFixed(1)
							}}% 
							<mat-icon *ngIf="dashboardData?.client_funding?.client_funding_total < dashboardData?.client_funding?.client_funding_total_last_month" class="mat-icon mt-2">arrow_downward</mat-icon>
							<mat-icon *ngIf="dashboardData?.client_funding?.client_funding_total > dashboardData?.client_funding?.client_funding_total_last_month" class="mat-icon mt-2">arrow_upward</mat-icon>
						</button> 
							${{ shortifyAmount(dashboardData?.client_funding?.client_funding_total, 1) }}
					</p>
					<p class="stat-subtitle mt-2">Total for this month</p>
				</div>
				<div class="bg-funding" style="width: 200px; position: relative !important; ">
					<img src="/assets/images/icons/dashboard/funding.png" style="top: 27%">
				</div>
				<!-- <a routerLink="/admin" class="btn btn-view-all">View All</a> -->
			</div>
		</div>
	</div>

	<div class="col-12 col-md-6 col-lg-4 mb-3" 
	*ngIf="!loading" [@animate]="{value:'*', params:{ y:'-20px', delay:'500ms' }}">
		<div class="card careworker hvr-hang">
			<div class="card-body text-start p-0 d-flex">
				<div class="w-100 ps-3 pt-2">
					<h5>Care Workers</h5>
					<p class="stat-header d-flex">
						<button class="btn stat-button me-2">{{ shortifyAmount(dashboardData?.employee?.employee_total_percentage, 1)?.toFixed(1) }}% 
							<mat-icon *ngIf="dashboardData?.employee?.employee_total < dashboardData?.employee?.employee_total_last_month" class="mat-icon mt-2">arrow_downward</mat-icon>
							<mat-icon *ngIf="dashboardData?.employee?.employee_total > dashboardData?.employee?.employee_total_last_month" class="mat-icon mt-2">arrow_upward</mat-icon>
						</button> {{ shortifyAmount(dashboardData?.employee?.employee_total, 1) }}
					</p>
					<p class="stat-subtitle mt-2">Total for this month</p>
				</div>
				
				<div class="bg-careworker" style="width: 200px; position: relative !important; ">
					<img src="/assets/images/icons/dashboard/careworker.png" 
					style="width: 60px !important; left: 27%">
				</div>
				<!-- <a routerLink="/admin" class="btn btn-view-all">View All</a> -->
			</div>
		</div>
	</div>
</div>