@import "src/scss/colors";
:host ::ng-deep{
  ::-webkit-scrollbar {
    width: 3px !important;
    height: 10px;
    cursor: move; /* fallback if grab cursor is unsupported */
  }
}
.assign-container{
    .header-msg {
        color: $color-purple;
        font-size: 30px;
        font-weight: 700 !important;
        line-height: 40.86px;
    }

    .header-text{
        font-size: 15px;
        font-weight: 600;
        color: $color-gray !important;
    }

    img{
        width: 40px;
    }
}


.assign-action-container{
    padding: 0 30px 0 10px;
    width: 660px !important;

    @media (max-width: 768px){
        padding: 0 !important;
    }

    .set-focus{
        padding: 40px 55px 60px 55px !important; 
        transition: all 0.35s ease-out !important;
    }

    .header-text{
        font-size: 15px;
        font-weight: 500;
        color: $color-gray !important;
    }

    .header-text-action{
        margin-top: 25px !important;
        font-size: 15px;
        font-weight: 600;
        color: $color-gray !important;
    }


    dl{
        dd{
            margin-bottom: 4px !important;
            font-size: 13px !important;
            font-family: 'Noto Sans' !important;
            color: $color-gray-dark;
        }
    }

    .details{
        .profile-image{
            border-radius: 50%;
            width: 95px !important;
            height: 95px !important;
            margin-left: 5px;
            object-cover: fit !important;
            object-position: center !important;
        } 

        border-radius: 10px !important;
        padding: 20px 10px 15px 20px !important;
        //background: #EDF1FC !important;
        min-height: 165px !important;
        font-family: 'Noto Sans' !important;
        /* box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05); */

        .match{
            background: #D7F4F8;
            border-radius: 4px !important;
            padding: 5px 10px 5px 5px;
            height: 45px !important;
            width: 110px;
            margin-left: auto;
            margin-right: auto;


            &-hand{
                background: #9EDDE7;
                padding: 3px 5px 1px 5px;
                border-radius: 50% !important;
                width: 38px !important;
                height: 26px !important;
                margin-right: 5px;
                margin-left: 3px;
            }

            &-hand > img{
                width: 20px !important;
                height: 20px !important;
            }

            &-text-small{
                font-size: 10px !important;
                height: 9px !important;
            }

            &-text-large{
                color: #2097A7 !important;
                font-size: 16px !important;
                font-weight: bold !important;
                margin-top: -13px !important;
            }
        }
    }

    .employee-details{
        @extend .details;
        background: #F5F5F5;
    }

    .client-details{
        @extend .details;
        background: #FEF1FC;
    }

    .img-container-main{
        border-radius: 50%;
        padding: 15px;

        img{
            width: 100%;

            @media (max-width: 768px){
                width: 60px !important;
                height: auto !important;
            }
        }
    }
}

.btn-header-gray{
  background: #D0D0D0;
  color: $color-gray-dark;
}



.btn-header{
  border-radius: 5px !important;
  padding: 7px 30px !important;
}


.dialog-responsive .mat-dialog-container
{
  
    //min-height: 70% !important;
    min-width: 660px !important;
    //max-height: 70% !important;

    @media (max-width: 768px){
      min-height: 50%;
      min-height: 500px;
    }
}