<div class="row">
	<!-- ON BOARDING NOTES -->
	<div class="col-12 col-md-12 col-lg-12">
		<div class="mb-3" id="onboarding-notes">
			<h5 class="card-title">Participant Care Notes
				<!-- <span class="float-end">View All</span> -->
				<span class="float-end" (click)="navigateTo(3)">Edit</span>
			</h5>

			<div class="row">
				<div class="col-12 col-md-6 mb-2 px-1 pb-0">
					<div class="notes-container" (click)="openOnboardingModal()">
						<button class="btn btn-view-more btn-active-client admin">General Notes</button>

						<p class="text-justify mt-2 text-capitalize">{{onboardingNotes?.general_notes || '-'}}</p>
					</div>
				</div>

				<div class="col-6 col-md-6 mb-2 px-1 pb-0">
					<div class="notes-container" (click)="openOnboardingModal()">
						<button class="btn btn-view-more btn-active-client co-worker">Care Notes</button>

						<p class="text-justify mt-2 text-capitalize">{{onboardingNotes?.care_notes || '-'}}</p>
					</div>
				</div>

				<div class="col-6 col-md-6 mb-2 px-1 pb-0">
					<div class="notes-container" (click)="openOnboardingModal()">
						<button class="btn btn-view-more btn-active-client current-worker">Participant Health needs</button>

						<p class="text-justify mt-2 text-capitalize">{{onboardingNotes?.client_care_notes || '-'}}</p>
					</div>
				</div>

				<div class="col-6 col-md-6 mb-2 px-1 pb-0">
					<div class="notes-container" (click)="openOnboardingModal()">
						<button class="btn btn-view-more btn-active-client scheduler">Scheduler Notes</button>

						<p class="text-justify mt-2 text-capitalize">{{onboardingNotes?.scheduler_notes || '-'}}</p>
					</div>
				</div>

				<!-- <div class="col-6 col-md-3 mb-3 px-1 pb-0">
					<div class="notes-container">
						<button class="btn btn-view-more btn-active-client client">Client</button>

						<p class="text-justify mt-2">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form ipsum is a</p>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>