<div class="card-form">
	<div mat-dialog-title>
		<h5 class="mat-dialog-title">
            <span *ngIf="!data; else showUpdate">Add</span>
            <ng-template #showUpdate>Update</ng-template>     
            Cancellation Policy
            <img src="/assets/images/icons/close-dialog.png" 
            class="float-end mt-2" 
            style="width: 13px; cursor: pointer;" 
            (click)="dialogRef.close()"> 
        </h5>
		<hr>
	</div>
	<form [formGroup]="cancellationPolicyForm">
		<div mat-dialog-content>
            <app-textfield 
                label="Name"
                [labelTop]="true"
                [required]="true"
                formControlName="name">
            </app-textfield>

            <app-textfield 
                label="Charge Percentage"
                [infoTitle]="'If employee would like to be referred to by anything other than their first name, enter their preferred name here'" 
                [labelTop]="true"
                [required]="true"
                [inputType]="'number'"
                formControlName="charge_percentage">
            </app-textfield>

            <app-textfield 
                label="Max Payment Hours"
                [infoTitle]="'If employee would like to be referred to by anything other than their first name, enter their preferred name here'" 
                [labelTop]="true"
                [required]="true"
                [inputType]="'number'"
                formControlName="max_payment_hours">
            </app-textfield>

            <app-textarea
                label="Description"
                [labelTop]="true"
                [required]="true"
                formControlName="description">
            </app-textarea>

            <app-radio-button
                label="Charge to Participants"
                [labelTop]="true"
                [options]="radioOptions"
                formControlName="charge_to_clients">
            </app-radio-button>

            <app-radio-button
                label="Pay Employees"
                [labelTop]="true"
                [options]="radioOptions"
                formControlName="pay_employees">
            </app-radio-button>
		</div>
		<div mat-dialog-actions>
			<div class="text-center mb-3 px-0 w-100">
				<hr><br>

				<button mat-button (click)="close()" 
				class="btn  btn-header-gray me-3">Close</button>

				<button mat-button (click)="save()" 
				cdkFocusInitial class="btn btn-primary btn-header me-3">
                    <span *ngIf="!data; else showSave">Add</span>
                    <ng-template #showSave>Save</ng-template>            
                </button>
			</div>
		</div>
	</form>

</div>