
<div class="assign-action-container px-0">
	<!-- <img src="/assets/images/icons/danger.png" class="img-fluid" width="30px">
 -->
	<h5 class="header-text-action">Cancel Subscription</h5>
	<h5 class="header-text mt-2">Are you sure you want to cancel your current subscription? <br><br>Please note that you will lose access to LAMA platform after the next billing period. Click continue to proceed</h5>


	<div class="form-group">
		<h5 class="header-text mt-4">Cancellation Reason*</h5>
		<textarea rows="4" class="form-control" [(ngModel)]="cancellationReason"></textarea>
	</div>
</div>

<div mat-dialog-actions>
	<div class="row container">

		<div class="col-md-12 text-center">
			<button 
			mat-button 
			(click)="dialogRef.close()" 
			class="btn  btn-header-gray ms-3">Cancel</button>

			<button 
			mat-button 
			[disabled]="!cancellationReason"
			(click)="closeSaveDialog()" 
			class="btn btn-danger">Continue</button>
		</div>
	</div>
</div>
