<section id="compliance-check">
	<div class="card card-body mb-3 pt-4" style="min-height: 300px;">
		<h5 class="document-title">
			{{ data?.type === 'Training' ? 'Training Compliance Documents' : 'Compliance Check' }}

			<img src="/assets/images/icons/close-dialog.png" 
			class="float-end" 
			style="width: 13px; cursor: pointer; margin-top: -3px;" 
			(click)="dialogRef.close()"> 
		</h5>

		<h5 class="document-title-sub mt-2">Mandatory</h5>

		<table class="table mt-1" *ngIf="mandatoryCompliance?.length > 0; else showEmptyCompliance">
			<tr>
				<th class="file-title-head">Qualification</th>
				<th class="file-title-date-head text-end">Expiry Date</th>
				<th class="file-title-date-head text-end">Status</th>
			</tr>

			<tr *ngFor="let item of mandatoryCompliance"
			(click)="submitUpdateComplianceDoc(item)">
				<td class="file-title text-capitalize">
					<div class="d-flex">
						<div class="me-3" style="width: 15px; margin-top: 2px;">
							<img src="/assets/images/icons/id-license.png" width="18px" 
							*ngIf="item?.type === 'License' 
								|| item?.type === 'Form Document'">

							<img src="/assets/images/icons/certificate-file.png" width="18px" 
							*ngIf="item?.type === 'Clearance' 
								|| item?.type === 'Experience' 
								|| item?.type === 'Education'
								|| item?.type === 'Training'">

							<img src="/assets/images/icons/id-passport.png" width="18px" 
							*ngIf="item?.type === 'Legal Document'">

							<img src="/assets/images/icons/certificate-file-2.png" width="18px" 
							*ngIf="item?.type === 'Certification'">

							<img src="/assets/images/icons/folder-file.png" width="18px" 
							*ngIf="item?.type === 'Other' || !item?.type">
						</div>
						
						<div class="w-100">{{item?.qualification_name}}</div>
					</div>
				</td>

				<td class="file-title-date text-end">
					{{ item?.expiry_date ? (item?.expiry_date * 1000 | date: 'dd-MM-yyyy') : '-'}}
				</td>
				<td class="file-title-date text-end" style="width: 18px;">
					<img src="/assets/images/icons/inactive-status.png" width="32px" 
					*ngIf="item?.status === 'Expired'">
					
					<img src="/assets/images/icons/active-status.png" width="32px" 
					*ngIf="item?.status === 'Valid'">

					<img src="/assets/images/icons/pending-status.png" width="32px" 
					*ngIf="item?.status === 'Pending'">
				</td>
			</tr>
		</table>

		<h5 class="document-title-sub">Non-Mandatory</h5>

		<table class="table mt-1" *ngIf="nonMandatoryCompliance?.length > 0; else showEmptyCompliance">
			<tr>
				<th class="file-title-head">Qualification</th>
				<th class="file-title-date-head text-end">Expiry Date</th>
				<th class="file-title-date-head text-end">Status</th>
			</tr>

			<tr *ngFor="let item of nonMandatoryCompliance"
			(click)="submitUpdateComplianceDoc(item)">
				<td class="file-title text-capitalize">
					<div class="d-flex">
						<div class="me-3" style="width: 15px; margin-top: 2px;">
							<img src="/assets/images/icons/id-license.png" width="18px" 
							*ngIf="item?.type === 'License' 
								|| item?.type === 'Form Document'">

							<img src="/assets/images/icons/certificate-file.png" width="18px" 
							*ngIf="item?.type === 'Clearance' 
								|| item?.type === 'Experience' 
								|| item?.type === 'Education'
								|| item?.type === 'Training'">

							<img src="/assets/images/icons/id-passport.png" width="18px" 
							*ngIf="item?.type === 'Legal Document'">

							<img src="/assets/images/icons/certificate-file-2.png" width="18px" 
							*ngIf="item?.type === 'Certification'">

							<img src="/assets/images/icons/folder-file.png" width="18px" 
							*ngIf="item?.type === 'Other' || !item?.type">
						</div>
						
						<div class="w-100">{{item?.qualification_name}}</div>
					</div>
				</td>

				<td class="file-title-date text-end">
					{{ item?.expiry_date ? (item?.expiry_date * 1000 | date: 'dd-MM-yyyy') : '-'}}
				</td>
				<td class="file-title-date text-end" style="width: 18px;">
					<img src="/assets/images/icons/inactive-status.png" width="32px" 
					*ngIf="item?.status === 'Expired'">
					
					<img src="/assets/images/icons/active-status.png" width="32px" 
					*ngIf="item?.status === 'Valid'">

					<img src="/assets/images/icons/pending-status.png" width="32px" 
					*ngIf="item?.status === 'Pending'">
				</td>
			</tr>
		</table>

		<ng-template #showEmptyCompliance>
			<div class="mb-3">List of Employee Position compliance document is currently empty.</div>
		</ng-template>
	</div>
</section>