@import "src/scss/colors";

:host ::ng-deep{
  ::-webkit-scrollbar {
    width: 5px !important;
    height: 10px;
    cursor: move; /* fallback if grab cursor is unsupported */
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #BDBDBD;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #BDBDBD;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #BDBDBD;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #BDBDBD;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #BDBDBD;
}
::placeholder { /* Most modern browsers support this now. */
   color:    #BDBDBD;
}

:host ::ng-deep{

    .text-area-input{
        margin: 0 !important;
        height: 28px !important;
        border-radius: 5px;
        border: 1px solid #BDBDBD;
        box-sizing: border-box;
        border-radius: 5px;
        padding-left: 5px;
        width: 100%;

        &:focus {
            outline: 1px solid $color-purple;
        }
    }

    .search{
        width: 17px !important;

   
    }


    .text-input {
        margin-bottom: 20px;

        .label-top{
            //margin-left: -20px !important;
            font-weight: 500;
            padding-left: 25px !important;
            font-size: 12px !important;
            //width: 160px;
            text-align: left !important;
        }
        
        .asterisk-required {
            margin-left: 4px;
            color: #FF0000 !important;
        }


        p {
            text-align: right !important;
            margin-bottom: 0px;
            font-weight: 500 !important;
            color: $color-gray;
        }

        .error {
            border: 1px solid #E01515;
        }

        .error-msg {
            text-align: left !important;
            color:#E01515;
            font-size: 10px;
        }

        .remove-border-left-radius{
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        .disabled{
            background: #F3F3F3 !important;
            //background: red !important;
            color: #BDBDBD !important;
        }

        input {
            height: 28px;
            border-radius: 5px;
            border: 1px solid #BDBDBD;
            box-sizing: border-box;
            border-radius: 5px;
            padding-left: 5px;
            width: 100%;

            &:focus {
                outline: 1px solid $color-purple;
            }
        }

        input:focus {
            outline: 1px solid $color-purple;
        }

        .container{
            &-label{
                width: 150px;
                text-align: right;
                font-weight: 500;
                color: #595959;
                font-size: 13px !important;
                font-family: "Noto Sans" !important;
            }

            &-input{
                width: 55%;
                
                .mat-icon{
                    vertical-align: center;
                    background: #D0D0D0;
                    color: #4D4D4D;
                    font-size: 19px;
                    height: 28px;
                    width: 30px;
                    padding: 5px 10px 0px 7px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                .img-container{
                    background: #D0D0D0;
                    color: #4D4D4D;
                    padding: 3px 6px 3px 8px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    vertical-align: center;
                    img{
                        width: 18px;
                    }
                }
            }
        }

        .container-info{
            .img-info-container{
                color: $color-purple !important;
                img{
                    margin-left: 13px;
                    margin-top: 6px;
                    width: 16px;
                    cursor: pointer;
                }
            }
        }
    }

    .mat-option-text {
        .add-icon {
            float: right;
            font-size: 20px;
            font-weight: 500;
        }

        .add-msg {
            font-weight: 500;
        }
    }
}

.wrap-long-text {
    //margin: 1rem 0;
    overflow: visible;
    //background: red;
    max-width: 100%;
    height: auto;
    text-overflow: clip;
    white-space: normal;
    line-height: 25px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border-bottom: solid 1px #e1e1e1;
    font-size: 13px;
}

.full-width {
    width: 100% !important;
    border: solid 1px #BDBDBD;
    padding-left: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}