@import "src/scss/colors";

.main-title{
	font-size: 24px;
	font-weight: 600;
	color: $color-gray;

}

.img-title{
	margin-top: -8px !important;
}

.btn-primary{
	border-radius: 4px !important;
	box-shadow: 0px 4px 10px rgba(153, 95, 236, 0.2) !important;
}

.btn-menu{
	background: #F0F1F5 !important;
	border: 1px solid rgba(93, 93, 93, 0.2) !important;
	box-sizing: border-box !important;
	border-radius: 8px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
}

:host ::ng-deep{
	.pricelist-toggle{
		color: #767676;
		font-size: 15px;
		max-width: 190px;
		margin-top: 10px;
		.mat-slide-toggle {

		    .mat-slide-toggle-bar {
		        background-color: #BDBDBD;
		        border-radius: 14px;
		        height: 26px;
		        width: 50px;
		        .mat-slide-toggle-thumb-container {
		            top: 3px;
		            left: 4px;
		        }
		        .mat-slide-toggle-thumb {
		            background-color: #fff;
		        }
		    }
		    &.mat-checked {
		        .mat-slide-toggle-bar {
		            background-color: $color-purple;
		        }
		        .mat-slide-toggle-thumb-container {
		            transform: translate3d(22px, 0px, 0px);
		            -moz-transform: translate3d(22px, 0px, 0px);
		            -o-transform: translate3d(22px, 0px, 0px);
		            -webkit-transform: translate3d(22px, 0px, 0px);
		        }
		    }
		}
		.toggle-label {
		    display: inline-block;
		    float: right;
		    margin: 0px 30px 0px 10px;
		    ///width: 290px;
		}
	}
}