<div class="container-fluid p-0 mt-2" *ngIf="listDataSource?.length > 0">
	<div class="row">
		<div class="col-12 col-md-6 col-lg-3 my-2 mt-3" *ngFor="let details of dataStatus">
			<button class="btn btn-status"
			[ngClass]="details?.title_sub">{{details?.title}}</button>

			<ng-container *ngIf="details?.data?.length > 0; else showEmpty">
				<div class="card card-body mt-3" 
				*ngFor="let item of details?.data">
					<div>
						<button mat-icon-button 
						[matMenuTriggerFor]="menu" 
						class="float-end menu-item">
							<mat-icon>more_horiz</mat-icon>
						</button>

						<mat-menu #menu="matMenu">
							<button mat-menu-item>
								<span>Edit</span>
							</button>
							<button mat-menu-item>
								<span>Archive</span>
							</button>
							<button mat-menu-item>
								<span class="text-danger">Delete</span>
							</button>
						</mat-menu>

						<p class="main-title truncate">{{ item?.client_name }}</p>
					</div>

					<span class="mb-2 text-primary">#{{item?.id}}</span>

					<span class="main-description text-line">
						{{item?.description}}
					</span>

					<p class="mt-2"><strong>Date Received:</strong> 
					<span class="float-end">{{(item?.date_received * 1000) | date:'dd-MM-yyyy'}}</span></p>

					<p><strong>Action Date:</strong> 
					<span class="float-end">{{(item?.action_date * 1000) | date:'dd-MM-yyyy'}}</span></p>
                    <p><strong>Reported by:</strong> 
                        <span class="float-end">{{item?.reported_by}}</span></p>

					<div class="row mt-3">
						<div class="col-12 mb-3 col-md-6">
							<button class="btn btn-block w-100 btn-warning">
								{{item?.type}}
							</button>
						</div>

						<div class="col-12 mb-3 col-md-6">
							<button class="btn btn-block w-100 btn-primary">
								{{item?.employee_name}}
							</button>
						</div>
					</div>
				</div>
			</ng-container>

			<ng-template #showEmpty>
				<br>
				<div class="card card-body mt-3">
					<strong>Currently no data</strong>
				</div>
			</ng-template>
		</div>
	</div>
</div>