<div class="card-form">
	<div mat-dialog-title>
		<h5 class="mat-dialog-title">New Program</h5>
		<hr>
	</div>
	<form [formGroup]="programForm">
		<div mat-dialog-content>
			<app-textfield 
				label="Program Name" 
				[labelTop]="true"
				formControlName="program">
			</app-textfield>
		</div>
		<div mat-dialog-actions>
			<div class="text-center mb-3 px-0 w-100">
				<hr><br>

				<button mat-button (click)="close()" 
				class="btn btn-header-gray btn-header me-3">Close</button>

				<button mat-button (click)="save()" 
				cdkFocusInitial class="btn btn-primary btn-header me-3">Save</button>
			</div>
		</div>
	</form>

</div>