<div class="row ps-2">
	<div class="col-md-12 text-center mb-3 careworker-container">
		<h5 class="header-text">Assign a Client
			<span class="float-end" (click)="dialogRef.close()" >x</span>
		</h5>
		<hr>
	</div>

	<div class="col-12 careworker-container">
		<div class="search-div float-sm-end">
			<div class="input-group">
			  <img src="/assets/images/icons/search.png">
			  
			  <input type="text" class="form-control" placeholder="Search" aria-label="Search" 
			  [(ngModel)]="search" (ngModelChange)="searchDataSource()">
			</div>
		</div>
		<br><br><br>
		<h5 class="header-text">Matching Care workers</h5>
	</div>

	<section class="row ps-2 pe-0 mt-3 careworker-action-container">
		<div class="col-12 col-lg-4 mb-3 px-2" *ngFor="let careworker of careworkerList.slice(0, 6); let i = index">
			<div class="careworker-selection d-flex"
			[ngStyle]="{ 'background': i === 0 ? bgColor[0] : i === 1 ? bgColor[1] : bgColor[2] }">
				<div class="flex-wrap" style="width: 120px !important;">
					<img [defaultImage]="defaultImage"
					[lazyLoad]="careworker?.profile_image" class="profile-image"><br>

					<div class="d-flex match mt-2">
						<div class="match-hand mt-1">
							<img src="/assets/images/icons/shake-hands.png" class="img-fluid flex-wrap">
						</div>

						<span class="flex-wrap ms-2 w-100">
							<p class="match-text-small">Matching</p>
							<p class="match-text-large">90%</p>
						</span>
					</div>
				</div>

				<div class="flex-wrap ms-3 w-100">
					<dl>
						<dd class="text-capitalize"><strong>Name</strong> {{careworker?.first_name}} {{careworker?.last_name}}</dd>
						<!-- <dd class="d-inline d-lg-flex w-100">
							<strong class="me-2 flex-wrap" style="width:23% !important;">Location</strong> 
							<span class="flex-wrap" style="width:77% !important;">{{careworker?.address}}</span>
						</dd> -->
						
						<dd><strong>Age</strong> {{careworker?.age}}</dd>
						<dd><strong>Interests</strong> {{careworker?.interests}}</dd>
						<dd class="truncate" [title]="careworker?.address">
							<strong>Location</strong> 
							 <span>{{careworker?.address}}</span>
						</dd>
						
					</dl>

					<button class="btn btn-assign w-75" (click)="assignCareworker(careworker)">Assign</button>
				</div>
			</div>
		</div>
	</section>

	<div class="col-12 my-3 careworker-container">
		<h5 class="header-text">Other Care workers</h5>
	</div>

	<section class="row ps-2 pe-0 careworker-action-container">
		<div class="col-12 col-lg-4 mb-3 px-2" *ngFor="let careworker of data?.careworkerList.slice(5, 8)">
			<div class="other-careworkers p-3 text-center">
				<div>
					<img [defaultImage]="defaultImage"
					[lazyLoad]="careworker?.profile_image" class="img-fluid profile-image" ><br>

					<dl class="mt-2">
						<dd class="text-capitalize"><strong>{{careworker?.first_name}} {{careworker?.last_name}}</strong></dd>
						<dd><img class="img-fluid me-1" width="13px" src="/assets/images/icons/phone-outline.png"> {{careworker?.mobile_phone_no}}</dd>
						<dd>{{careworker?.email}}</dd>
					</dl>
				</div>
			</div>
		</div>

		<div *ngIf="data?.careworkerList.slice(5, 8)?.length === 0">
			<p>List is currently empty.</p>
		</div>
	</section>

	<div class="col-12 my-3 careworker-container">
		<h5 class="header-text">Past Care workers</h5>
	</div>

	<section class="row ps-2 pe-0 careworker-action-container">
		<div class="col-12 col-lg-4 mb-3 px-2" *ngFor="let careworker of data?.careworkerList.slice(3, 6)">
			<div class="other-careworkers p-3 text-center">
				<div>
					<img [defaultImage]="defaultImage"
					[lazyLoad]="careworker?.profile_image" class="img-fluid profile-image" ><br>

					<dl class="mt-2">
						<dd class="text-capitalize"><strong>{{careworker?.first_name}} {{careworker?.last_name}}</strong></dd>
						<dd><img class="img-fluid me-1" width="13px" src="/assets/images/icons/phone-outline.png"> {{careworker?.mobile_phone_no}}</dd>
						<dd>{{careworker?.email}}</dd>
					</dl>
				</div>
			</div>
		</div>

		<div *ngIf="data?.careworkerList.slice(3, 6)?.length === 0">
			<p>List is currently empty.</p>
		</div>

	</section>
</div>

<div mat-action-container>
	<div class="row container p-0 mt-3">

		<div class="col-md-12 text-center">
			<button 
			mat-button 
			(click)="dialogRef.close()" 
			cdkFocusInitial 
			class="btn btn-header-gray btn-header float-md-start">Back</button>

			<button 
			mat-button 
			(click)="proceedSelection()" 
			cdkFocusInitial 
			class="btn btn-primary-secondary btn-header float-md-end">Add New Care worker</button>
		</div>
	</div>
</div>
