<div class="card-form">
	<div mat-dialog-title>
		<h5 class="mat-dialog-title"><span *ngIf="!data; else showUpdate">Add</span>
            <ng-template #showUpdate>Update</ng-template> Employee Timesheet</h5>
		<hr>
	</div>
	<div class="row">
		<div class="col-12 col-md-4 py-0">
			<lama-stepper 
			[stepperList]="steps" 
			[orientation]="'vertical'" 
			[isVerticalClick]="true"
			#stepper
			[selectedIndex]="formStep - 1" 
			(selectionChanged)="updateStepperClick($event.selectedIndex + 1)">
			</lama-stepper>
		</div>

		<div class="col-12 col-md-1"></div>

		<div class="col-12 col-md-7" mat-dialog-content>
			<app-timesheet-details 
			*ngIf="formStep === 1" 
			[timesheetDetailsForm]="timesheetDetailsForm">
			</app-timesheet-details>

			<app-time-logged 
			*ngIf="formStep === 2" 
			[data]="data"
			[timeLoggedForm]="timeLoggedForm">
			</app-time-logged>
		</div>
	</div>

	<div mat-dialog-actions>
		<div class="text-center mb-3 px-0 w-100">
			<hr><br>

			<button mat-button (click)="back()" 
			[disabled]="formStep === 1"
			class="btn btn-header-gray btn-header me-3">Back</button>

			<button mat-button *ngIf="formStep <= 1"
			(click)="next()"
			cdkFocusInitial class="btn btn-primary btn-header me-3">Next</button>

			<button mat-button *ngIf="formStep === 2"
			(click)="save()"
			cdkFocusInitial class="btn btn-primary btn-header me-3">Save</button>
		</div>
	</div>
</div>