<!-- LOADING ANIMATION SCREEN -->


<div class="container-fluid p-0 ms-1 pe-md-2 mb-3">
	<div class="row">
		<!-- MAIN CONTAINER -->
		<section>
			<div class="d-flex">
				<div class=" d-flex-wrap side-stepper d-none d-lg-flex h-100 mt-3 "
				[@animate]="{ value: '*', params: { x: '-100px', delay: '200ms' }}">
					<lama-stepper [stepperList]="steps" 
					[isVerticalClick]="true"
					[selectedIndex]="formStep - 1" 
					(selectionChanged)="updateStepperClick($event.selectedIndex + 1)"
					[orientation]="'vertical'" #stepper></lama-stepper>
				</div>

				<div class=" d-flex-wrap w-100 h-100 mt-3">
					<app-client-banner 
					[title]="'Create'"
					[label]="formStep === 1 ? 'Participant Details'
					: formStep === 2 ? 'Demographics'
					: formStep === 3 ? 'Support Notes'
					: formStep === 4 ? 'Medical/Health'
					: formStep === 5 ? 'Service Details'
					: formStep === 6 ? 'Contact Details'
					: formStep === 7 ? 'Related Documents'
					
					: ''">
					</app-client-banner>

					<div class="me-2 mb-3 pe-2" 
					[@animate]="{ value: '*', params: { x: '-100px', delay: '200ms' }}">
						<div class="banner-container w-100 me-3" style="margin-top: -92px">
							
							<span class="float-end btn btn-view-more btn-active-employee me-2" 
							routerLink="/admin/clients">
								Close
							</span>
						</div>
					</div>

					<div class="mt-2">
						<global-admin-loader 
							[withSideBar]="true"
							[loading]="loading">
						</global-admin-loader>
					</div>
					
					<div *ngIf="!loading" class="mt-2 d-flex-wrap w-100 h-100">
						<app-client-detail 
						*ngIf="formStep === 1"
						[clientDetailData]="clientForm.clientDetail"
						[navigation]="navigation"
						(updateStepper)="updateStepper($event)"
						(submitData)="updateClientDetailData($event)"
						(formStep)="getNavigation($event)"
						(isValid)="checkFormValidity($event)"
						(saveClientAsDraft)="saveAsDraft($event)">
						</app-client-detail>
	
						<app-demographics 
						*ngIf="formStep === 2"
						[demographicsData]="clientForm.demographics"
						[navigation]="navigation"
						(submitData)="updateDemographicsData($event)" 
						(updateStepper)="updateStepper($event)"
						(formStep)="getNavigation($event)"
						(isValid)="checkFormValidity($event)"
						(saveClientAsDraft)="saveAsDraft($event)">
						</app-demographics>

						<!-- <ng-container *ngIf="formStep === 3"></ng-container>
	 -->
						<app-onboarding-notes 
						*ngIf="formStep === 3"
						[onboardingNotesData]="clientForm.onboardingNotes"
						[navigation]="navigation"
						(submitData)="updateOnboardingNotesData($event)" 
						(updateStepper)="updateStepper($event)"
						(formStep)="getNavigation($event)"
						(isValid)="checkFormValidity($event)"
						(saveClientAsDraft)="saveAsDraft($event)">
						</app-onboarding-notes>
	
						<!-- <app-care-workers 
						*ngIf="formStep === 4"
						[careWorkersData]="clientForm.careWorkers"
						[navigation]="navigation"
						[formStepVal]="formStep"
						(submitData)="updateCareWorkersData($event)" 
						(updateStepper)="updateStepper($event)"
						(formStep)="getNavigation($event)"
						(isValid)="checkFormValidity($event)"
						(saveClientAsDraft)="saveAsDraft($event)">
						</app-care-workers> -->

						<app-medication-client-notes
						*ngIf="formStep === 4" 
						[navigation]="navigation"
						[medicationClientNotes]="clientForm.medicationClientNotes"
						(submitData)="updateMedicationClientNotes($event)" 
						(updateStepper)="updateStepper($event)"
						(formStep)="getNavigation($event)"
						(isValid)="checkFormValidity($event)"
						(saveClientAsDraft)="saveAsDraft($event)">
						</app-medication-client-notes>
	
						<app-service-details 
						*ngIf="formStep === 5" 
						[serviceDetailsData]="clientForm.serviceDetails"
						[navigation]="navigation"
						(submitData)="updateServiceDetailsData($event)" 
						(updateStepper)="updateStepper($event)"
						(formStep)="getNavigation($event)"
						(isValid)="checkFormValidity($event)"
						(saveClientAsDraft)="saveAsDraft($event)">
						</app-service-details>
	
						<app-contact-details 
						*ngIf="formStep === 6"
						[contactDetailsData]="clientForm.contactDetails"
						[navigation]="navigation"
						(submitData)="updateContactDetailsData($event)" 
						(updateStepper)="updateStepper($event)"
						(formStep)="getNavigation($event)"
						(isValid)="checkFormValidity($event)"
						(saveClientAsDraft)="saveAsDraft($event)">
						</app-contact-details>
	
						<app-related-documents
						*ngIf="formStep === 7"
						[documents]="clientForm.clientDocs.add"
						[clientForm]="clientForm"
						[navigation]="navigation"
						(updateStepper)="updateStepper($event)"
						(formStep)="getNavigation($event)"
						(submitData)="updateRelatedDocuments($event)" 
						(isValid)="checkFormValidity($event)"
						(saveClientAsDraft)="saveAsDraft($event)">
						</app-related-documents>
					</div>
				</div>
			</div>
		</section>
	</div>	
</div>
