<div class="p-3" [@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}">
	<div class="d-flex mb-3" style="border-bottom: solid 1px #D0D0D0">
		<div class="d-flex" style="margin-top: -10px;">
			<div class="search-div me-1 mt-1 mb-0" style="width: 300px; height: 41px;">
				<div class="input-group">
				  <img src="/assets/images/icons/search.png">

				  <input type="text" class="form-control" placeholder="Search" aria-label="Search"
				  [(ngModel)]="searchBy" (ngModelChange)="searchDataSource()">
				</div>
			</div>

			<div class="d-flex mt-1"  *ngIf="showDateFilter">
				<div class="date-div me-2 mb-3">
					<div class="input-group" (click)="dateFrom.open()">
					  <img matSuffix src="/assets/images/icons/calendar-input-icon.png">
					  <mat-datepicker #dateFrom></mat-datepicker>
					  <input type="text" class="form-control"
					  [matDatepicker]="dateFrom"  
					  placeholder="Date From" aria-label="Search"
					  [(ngModel)]="dateSearch.dateFrom" (dateChange)="updateDateFilter()">
					</div>
				</div>

				<div class="date-div me-2 mb-3">
					<div class="input-group" (click)="dateTo.open()">
					  <img matSuffix src="/assets/images/icons/calendar-input-icon.png">
					  <mat-datepicker #dateTo></mat-datepicker>
					  <input type="text" class="form-control" 
					  [matDatepicker]="dateTo" 
					  placeholder="Date To" aria-label="Search"
					  [(ngModel)]="dateSearch.dateTo" (dateChange)="updateDateFilter()">
					</div>
				</div>
			</div>
		</div>

		<div class="w-100 text-end">
			<button class="btn btn-sort me-2 dropdown"
			data-bs-toggle="dropdown" 
			aria-expanded="false">
				<span>Sort</span>
				<img src="/assets/images/icons/sort-descending.png" style="height: 15px" class="ms-2">
			</button>

			<ul class="dropdown-menu dropdown-menu-md-end" aria-labelledby="status-filter">
				<li (click)="sortFunc('a-z')">Aa - Zz</li>
				<li (click)="sortFunc('z-a')">Zz - Aa</li>
				<li (click)="sortFunc('date-up')">Date (asc)</li>
				<li (click)="sortFunc('date-down')">Date (desc)</li>
			</ul>

			<button class="btn btn-sort me-2" (click)="deleteSMSItem()">
				<img src="/assets/images/icons/bin.png" style="height: 15px" title="Delete">
			</button>

			<button class="btn btn-sort me-2" (click)="archiveSMSItem()">
				<img src="/assets/images/icons/archive.png" style="height: 15px" title="Archive">
			</button>
		</div>
	</div>

	<div class="table-body" style="max-height: 650px; overflow-y: auto;">
		<table class="table w-100">
			<tbody>
				<tr *ngFor="let sms of filteredSMSList; let i = index"
				(click)="toggleEvent(sms?.id)">
					<td style="padding-top: 10px">
						<mat-checkbox color="primary"
							(click)="updateCheckbox(sms)"
						    [value]="'All'">
						</mat-checkbox>
					</td>
					<td>
						<h5 class="title-sms" style="width: 13vw;">
							<strong>From: {{sms?.from}}</strong> 
						</h5>

						<h5 class="title-description" style="width: 13vw;">
							+{{sms?.phone_number}}
						</h5>
					</td>

					<td class="col-animate">
						<div class="">
							<h5 class="title-sms">
								{{sms?.subject}}
							</h5>
						</div>

						<!-- EMAIL CONTENT HTML VIEW -->
						<div class="title-description" 
						*ngIf="sms?.view "
						[@animate]="{value:'*', params:{ y:'-10px', delay:'200ms' }}"
						[innerHtml]="sms?.content"
						[ngClass]="sms?.view ? '' : 'text-truncate'"
						style="width: 40vw;">
						</div>

						<!-- SMS CONTENT -->
						<div class="title-description" 
						[@animate]="{value:'*', params:{ y:'-10px', delay:'200ms' }}"
						*ngIf="!sms?.view "
						[ngClass]="sms?.view ? '' : 'text-truncate'"
						style="width: 40vw;">
							{{sms?.content}}
						</div>
					</td>

					<td class="text-end pe-3">
						<button class="btn btn-sort me-1" (click)="addNewSms(sms, 'forward')"> 
						<ng-container *ngIf="sms?.view">Forward</ng-container>
						<img src="/assets/images/icons/forward-sms.png" 
						[ngClass]="sms?.view ? 'ms-2' : ''" style="height: 17px;"></button>

						<!-- <br *ngIf="sms?.view"> -->

						<button class="btn btn-sort" (click)="addNewSms(sms, 'reply')"> 
						Reply
						<img src="/assets/images/icons/reply-sms.png" 
						[ngClass]="sms?.view ? 'ms-2' : ''" style="height: 17px;"></button>

						<div class="title-description mt-1">
							<i>{{sms?.date_sent | date: 'dd-MM-yyyy h:mm a'}}</i>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<p class="total-number">Showing 1-{{filteredSMSList?.length}} of {{filteredSMSList?.length}} Entries</p>
	</div>
</div>