@import "src/scss/colors";

.shadow{
    box-shadow: 0px 4px 5px rgba(102, 50, 102, 0.01);
    -webkit-box-shadow: 0px 4px 5px rgba(102, 50, 102, 0.01);
    -moz-box-shadow: 0px 4px 5px rgba(102, 50, 102, 0.01);
}

.remove-linked-person{
    padding: 0 !important;
    height: 20px !important;
    border-radius: 4px !important;
    margin-top: 5px !important;
    margin-left: 10px;
    outline: none !important;
}

.btn-view-more{
    @extend .shadow;
    padding: 7px 15px !important;
    margin-top: 8px;
    //margin-left: -4px;
    background: white;
    color: $color-purple;
    font-size: 10px;
    border-radius: 4px !important;
    //border: solid 1px $color-purple;

    &:hover{
        background: $color-purple;
        color: white;
    }
}

.btn-primary{
    padding: 0px 6px !important;
    border-radius: 2px !important;
    font-size: 12px !important;
    
}

.btn-primary-inner{
    padding: 0px 7 !important;
    padding: 0px 6px !important;
    border-radius: 2px !important;
    font-size: 12px !important;
    margin-left: -2px;
    height: 28px !important;
    background: $color-purple;
}

:host ::ng-deep {
    .card-form {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 10px;


        .mat-card {
            /* box-shadow: 0px 4px 5px rgba(102, 102, 102, 0.25);
            -webkit-box-shadow: 0px 4px 5px rgba(102, 102, 102, 0.25);
            -moz-box-shadow: 0px 4px 5px rgba(102, 102, 102, 0.25);
            border-radius: 20px; */

            border-radius: 8px !important;
            box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
            -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
            
            padding: 25px 25px;

            .mat-card-title{
                font-size: 20px;
                color: $color-gray-dark;

                hr {
                    border: 0.5px solid #777777;
                    margin-bottom: 30px;
                }
            }

            .mat-card-content {
                padding: 0 50px 0 50px;
            }

            .mat-card-actions{
                padding: 10px 25px;

                .btn-header-gray{
                    background: #D0D0D0;
                    color: $color-gray-dark;
                }

                .btn-header{
                    border-radius: 5px !important;
                    padding: 7px 30px !important;
                }
            }
        }
    }
}