<div class="card-form" *ngIf="!data?.deactivate">
	<div mat-dialog-title>
		<h5 class="mat-dialog-title">
			Manage Access
			<img src="/assets/images/icons/close-dialog.png" 
			class="float-end mt-2" 
			style="width: 13px; cursor: pointer;" 
			(click)="dialogRef.close()"> 
		</h5>
		<hr>
	</div>
	<form *ngIf="!loading" [formGroup]="userForm">
		<div mat-dialog-content>
			<div class="row">
				<div class="col-sm-12">
					<h5 class="mat-subtitle">Account Details</h5>

					<app-textfield 
					label="Employee Name" 
					[labelTop]="true"
					[required]="true"
					[readonly]="true"
					[disabled]="true"
					class="text-capitalize"
					formControlName="employeeName">
					</app-textfield>

					<app-textfield id="email_address"  
						label="Email"
						[labelTop]="true"
						[required]="true"
						[info]="true"
						[errorMessage]="errorMessage"
						[infoTitle]="'All emails sent from the system will be sent to this email address.'" 
						formControlName="email_address">
					</app-textfield>

					<app-search-list
					label="Employee Position"
					[labelTop]="true"
					[required]="true"
					[options]="position"
					formControlName="position_id"
					></app-search-list>

					<app-textfield 
					label="New Password" 
					placeholder="Type in new password"
					[labelTop]="true"
					[inputType]="'password'"
					formControlName="new_password">
					</app-textfield>

					<app-textfield 
					label="Confirm New Password" 
					placeholder="Confirm new password"
					[labelTop]="true"
					*ngIf="userForm.controls['new_password'].value"
					[inputType]="'password'"
					formControlName="confirm_new_password">
					</app-textfield>
				</div>
			</div>
		</div>
		<div mat-dialog-actions>
			<div class="row text-center mb-3 w-100">
				<div class="col-sm-12 text-center w-100">
					<hr><br>

					<button mat-button (click)="close()" 
					class="btn btn-header-gray btn-header me-3">Close</button>

					<button mat-button (click)="save()" [disabled]="!userForm?.valid"
					cdkFocusInitial class="btn btn-primary btn-header me-3">Save</button>
				</div>
			</div>
		</div>
	</form>

	<!-- LOADING ANIMATION SCREEN -->
	<global-admin-loader 
		[withSideBar]="false"
		[fromDetailTab]="true"
		[loading]="loading">
	</global-admin-loader>
</div>

<div class="card-form" *ngIf="data?.deactivate">
	<div mat-dialog-title>
		<h5 class="mat-dialog-title">
			Deactivate Account
		</h5>
		<hr>
	</div>
	<form *ngIf="!loading" [formGroup]="userForm">
		<div mat-dialog-content>
			<div class="row">
				<div class="col-sm-12">
					<app-textfield 
					label="Employee Name" 
					[labelTop]="true"
					[required]="true"
					[readonly]="true"
					[disabled]="true"
					class="text-capitalize"
					formControlName="employeeName">
					</app-textfield>

					<app-date-picker 
						label="Last Day of Work" 
						[labelTop]="true"
						[required]="true"
						formControlName="last_date">
					</app-date-picker>

					<app-textarea 
					label="Reason for Leaving" 
					[labelTop]="true"
					[required]="true"
					class="text-capitalize"
					formControlName="reason_for_leaving">
					</app-textarea>

					<p class="px-4">Are you sure you want to disable access to this employee's account?<br><br> This will result in the employee losing access to their account for their position. Click "continue" to proceed.</p>
				</div>
			</div>
		</div>
		<div mat-dialog-actions>
			<div class="row text-center mb-3 w-100">
				<div class="col-sm-12 text-center w-100">
					<hr><br>

					<button mat-button (click)="close()" 
					class="btn btn-header-gray btn-header me-3">Close</button>

					<button mat-button (click)="save()" [disabled]="!userForm?.valid"
					cdkFocusInitial class="btn btn-danger btn-header me-3">Continue</button>
				</div>
			</div>
		</div>
	</form>

	<!-- LOADING ANIMATION SCREEN -->
	<global-admin-loader 
		[withSideBar]="false"
		[fromDetailTab]="true"
		[loading]="loading">
	</global-admin-loader>
</div>