<section class="card card-body mt-3" style="overflow-x: auto !important; width: 100%;">
	<div>
		<ng-container *ngIf="showDateFilter">
			<div class="date-div me-2 float-start"
			[ngClass]="!showStatData ? 'mb-3': ''">
				<div class="input-group" (click)="dateFrom.open()">
				  <img matSuffix src="/assets/images/icons/calendar-input-icon.png">
				  <mat-datepicker #dateFrom></mat-datepicker>
				  <input type="text" class="form-control"
				  [matDatepicker]="dateFrom"  
				  placeholder="Date From" aria-label="Search"
				  [(ngModel)]="dateSearch.dateFrom" (dateChange)="updateDateFilter()">
				</div>
			</div>

			<div class="date-div me-2 float-start"
			[ngClass]="!showStatData ? 'mb-3': ''">
				<div class="input-group" (click)="dateTo.open()">
				  <img matSuffix src="/assets/images/icons/calendar-input-icon.png">
				  <mat-datepicker #dateTo></mat-datepicker>
				  <input type="text" class="form-control" 
				  [matDatepicker]="dateTo" 
				  placeholder="Date To" aria-label="Search"
				  [(ngModel)]="dateSearch.dateTo" (dateChange)="updateDateFilter()">
				</div>
			</div>
		</ng-container>
		
		
		<div class="search-div me-1 float-start"
		[ngClass]="!showStatData ? 'mb-3': ''">
			<div class="input-group">
			  <img src="/assets/images/icons/search.png">
			  
			  <input type="text" class="form-control" placeholder="Search" aria-label="Search" 
			  [(ngModel)]="searchBy" (ngModelChange)="searchDataSource()">
			</div>
		</div>
		
		<div class="table-controls-container float-end">
			<!-- CONTROLLER ICONS -->
			<div class="table-controls mt-3">
				<button class="px-0 me-3 pe-0" *ngFor="let action of tableController"
				[disabled]="action?.class === 'delete' && selectedRows?.length === 0"
				(click)="action?.action_event(openDialog(action?.class, {}))">
					<img [src]="action?.icon" [ngClass]="action?.class">
					<span>{{action?.name}}</span>
				</button>

				<span id="export-table">
					<button
						type="button"
						data-bs-toggle="dropdown" 
						aria-expanded="false" 
						class="dropdown px-0 mx-0">
						<img src="/assets/images/icons/export.png" class="export">Export
					</button>

					<ul class="dropdown-menu dropdown-menu-md-end" aria-labelledby="state-filter">
						<li (click)="exportAsXLSX('all')">Export All</li>
						<li (click)="exportAsXLSX('selected')">Export Selected</li>
						<li (click)="exportAsXLSX()">Export View Table</li>
					</ul>
				</span>

				<span class="flex-wrap pt-1 pt-sm-2 pt-md-1 mx-0">
					<button class="px-0 dropdown dropdown-toggle me-0" 
					type="button" id="lengthFilter" data-bs-toggle="dropdown" aria-expanded="false">
					Show {{maxRows}}
						<span class="material-icons">expand_more</span>
					</button>

					<ul class="dropdown-menu" aria-labelledby="lengthFilter" 
					style="width: 110px !important;">
						<li><a class="dropdown-item" (click)="adjustNumberOfItems(2)">Show 2</a></li>
					    <li><a class="dropdown-item" (click)="adjustNumberOfItems(5)">Show 5</a></li>
					    <li><a class="dropdown-item" (click)="adjustNumberOfItems(25)">Show 25</a></li>
					    <li><a class="dropdown-item" (click)="adjustNumberOfItems(50)">Show 50</a></li>
					</ul>
				</span>

				<span class="flex-wrap pt-1 pt-sm-2 pt-md-1">
					<button class="px-0 dropdown dropdown-toggle me-4" 
					type="button" id="lengthFilter" data-bs-toggle="dropdown" aria-expanded="false">
					{{selectedStatus}}
						<span class="material-icons">expand_more</span>
					</button>

					<ul class="dropdown-menu" aria-labelledby="lengthFilter" 
					style="width: 160px !important;">
						<li *ngFor="let item of status"><a class="dropdown-item" 
							(click)="filterStatus(item)">{{item}}</a>
						</li>
					</ul>
				</span>
			</div>
		</div>
	</div>
	<hr style="background: #a9a9a9 !important;">


	<!-- EMPTY TABLE -->
	<div class="img-info justify-content-start ps-0 pt-5 d-flex bg-gray container" 
	[@animate]="{value:'*', params:{ x:'-50px', delay:'300ms' }}"
	
	*ngIf="listDataSource?.length === 0">
		<div class="flex-wrap" style="margin-left: 20px;" >
			<h4>List of {{componentTitle}} is currently empty. Add new {{componentTitle}} now.</h4>
			<img src="/assets/images/placeholder/visit-profile-congrats.png" class="img-fluid">
			<br>
			<div class="create-client">
				<!-- <a routerLink="/admin/clients/create" 
				class="btn create-client-button btn-primary px-0 mt-4">
					<span class="material-icons text-white me-1"></span>Create New Client
				</a> -->
			</div>
		</div>

		<div class="flex-wrap mt-4 d-none d-md-block"
		[@animate]="{value:'*', params:{ scale:'0.5', delay:'500ms' }}">
			<img src="/assets/images/placeholder/client-hug.png" style="z-index: 9;" class="img-fluid empty-table-img">
		</div>
	</div>

	<ng-container *ngIf="listDataSource?.length === 0">
		<div class="d-none d-sm-block"><br><br><br></div>
		<!-- <hr> -->
	</ng-container>

	<!-- TABLE DATA DESKTOP  [hidden]="!withHeader"-->
	<div id="table-container" class="d-none d-md-inline w-100" *ngIf="listDataSource?.length > 0">
		<table class="table mt-0 pt-0" mat-table matSort 
		[dataSource]="dataSource" *ngIf="!loading">
			<ng-container *ngFor="let header of displayedColumns; index as cindex" 
			[matColumnDef]="header?.col_name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header 
				[@animate]="{value:'*', params:{ x:'-10px', delay:'100ms' }}"
				[ngStyle]="{
					'width': header?.col_name == 'profile_image' 
					|| header?.col_name == 'icon' 
					|| header?.col_name == 'delete' ? '50px'
					: header?.col_name == 'action' ? '144px' 
					: ''
				}"
				>
					<span *ngIf="header?.col_name !== 'profile_image' && header?.col_name !== 'delete'" 
					class="table_img align-self-start justify-content-start text-start" 
					[innerHtml]="header?.title"></span>
				</th>

				<td mat-cell *matCellDef="let data"
				[@animate]="{value:'*', params:{ x:'-10px', delay:'100ms' }}"> 
					<span class="flex-wrap ms-2" 
					*ngIf="header?.col_name === 'first_name' 
					&& header?.col_name !== 'icon'
					&& header?.col_name !== 'action'
					&& header?.col_name !== 'profile_image'; else showDefault">
						{{ data.first_name }} {{data.last_name}} 
					</span>

					<span *ngIf="header?.col_name == 'profile_image' 
					|| header?.col_name == 'icon'
					|| header?.col_name == 'action'" class="table_img">
						<img class="flex-wrap ms-2"  
						*ngIf="header?.col_name == 'profile_image'"
						[src]="data?.profile_image">

						<img class="flex-wrap ms-2 icon"  
						*ngIf="header?.col_name == 'icon' && data?.icon[0]?.download_url"
						[defaultImage]="'/assets/images/icons/currency.png'"
						[lazyLoad]="data?.icon[0]?.download_url">

						<span *ngIf="header?.col_name == 'action'">
							<mat-icon class="mat-icon me-3 hvr-grow" (click)="openDialog('edit', data)">edit_note</mat-icon>
							<img src="/assets/images/icons/delete-circle-red.png" class="hvr-grow delete-image" 
							(click)="openDialog('delete', data)">
						</span>
					</span>

					<ng-template #showDefault>
						<span *ngIf="header?.col_name !== 'profile_image'
						 && header?.col_name !== 'icon'
						 && header?.col_name !== 'action'
						 && !header?.col_name.match('date')
						 && header?.col_name !== 'status'">
						 	<!-- TRUE | FALSE VALUE CONVERT TO YES OR NO -->
							{{ 
								(
									data[header?.col_name] === true ? 'Yes' 
									: data[header?.col_name] === false ? 'No'
									: data[header?.col_name]
								) || '-' 
							}} 
						</span>

						<span *ngIf="header?.col_name.match('date')">
							{{ data[header?.col_name] ? (data[header?.col_name] * 1000 | date: 'dd-MM-y') : '-'}}
						</span>

						<span *ngIf="header?.col_name !== 'profile_image'
						 && header?.col_name !== 'icon'
						 && header?.col_name === 'status'">
							<button class="btn btn-status" 
							[ngClass]="data[header?.col_name].split(' ').join('-').toLowerCase() + '-child'">
							{{ data[header?.col_name] }} </button>
						</span>
					</ng-template>
				</td>

			</ng-container>

		  	<tr mat-header-row *matHeaderRowDef="selectedColumns;"></tr>
		  	<tr mat-row *matRowDef="let row; let i = index; columns: selectedColumns;"
		  	(click)="selectRows(row)"
		  	(dblclick)="viewDetailDialog(row)"
		  	[ngClass]="selectedRows.indexOf(row) > -1 ? 'bg-selected': ''"></tr>
		</table>
	</div>

	<!-- TABLE DATA MOBILE -->
	<div id="table-container-mobile" class="d-block d-md-none">
		<table class="table mt-0 pt-0" mat-table matSort 
		[dataSource]="dataSource" *ngIf="!loading">
			<ng-container *ngFor="let header of displayedColumns; index as cindex" 
			[matColumnDef]="header?.col_name">
				<tr class="d-flex" *matCellDef="let data"> 
					<span class="flex-wrap ms-2" 
					*ngIf="header?.col_name === 'first_name' 
					&& header?.col_name !== 'icon'
					&& header?.col_name !== 'action'
					&& header?.col_name !== 'profile_image'; else showDefault">
						{{ data.first_name }} {{data.last_name}} 
					</span>

					<span *ngIf="header?.col_name == 'profile_image' 
					|| header?.col_name == 'icon'
					|| header?.col_name == 'action'" class="table_img">
						<img class="flex-wrap ms-2"  
						*ngIf="header?.col_name == 'profile_image'"
						[src]="data?.profile_image">

						<img class="flex-wrap ms-2 icon"  
						*ngIf="header?.col_name == 'icon' && data?.icon[0]?.download_url"
						[defaultImage]="'/assets/images/icons/currency.png'"
						[lazyLoad]="data?.icon[0]?.download_url">

						<span *ngIf="header?.col_name == 'action'">
							<mat-icon class="mat-icon me-2 edit hvr-grow">edit_note</mat-icon>
							<img src="/assets/images/icons/delete-circle-red.png" class="delete hvr-grow">
						</span>
					</span>

					<ng-template #showDefault>
						<span *ngIf="header?.col_name !== 'profile_image'
						 && header?.col_name !== 'icon'
						 && header?.col_name !== 'action'
						 && header?.col_name !== 'state'">
							{{ 
								(
									data[header?.col_name] === true ? 'Yes' 
									: data[header?.col_name] === false ? 'No'
									: data[header?.col_name]
								) || '-' 
							}} 
						</span>

						<span *ngIf="header?.col_name !== 'profile_image'
						 && header?.col_name !== 'icon'
						 && header?.col_name === 'state'">
							<button class="btn btn-state" 
							[ngClass]="data[header?.col_name].split(' ').join('-').toLowerCase()">
							{{ data[header?.col_name] }} </button>
						</span>
					</ng-template>
				</tr>
			</ng-container>

		  	<!-- <tr mat-header-row *matHeaderRowDef="selectedColumns"></tr> -->
		  	<tr mat-row *matRowDef="let row; let i = index; columns: selectedColumnsMobile;"
		  	(click)="selectRows(row)"
		  	(dblclick)="viewDetailDialog(row)"
		  	[ngClass]="selectedRows.indexOf(row) > -1 ? 'bg-selected': ''"></tr>
		</table>
	</div>

	<!-- NAVIGATOR DETAILS -->
	<div class="flex-wrap px-2" *ngIf="listDataSource?.length > 0">
		<p class="float-start" *ngIf="multipleSelect">Showing 1 to {{maxRows}} of {{listDataSource?.length}} entries
			<span class="ms-5">
				<strong style="color: #8C7FF9">{{selectedRows?.length}}</strong>
				Rows selected
			</span>
		</p> 

		<!-- PAGINATOR -->
		<p class="float-end paginator" *ngIf="paginate.length > 1">
			<span class="text-black" 
			(click)="page !== 1 ? changePage(page-1): ''"> 
				<img src="/assets/images/icons/caret-left.png" class="img-fluid" width="7px">
			</span>

			<span 
			*ngFor="let i of paginate.slice(
				this.pageRange(this.page, this.paginate.length)['start'], 
				this.pageRange(this.page, this.paginate.length)['end']
			)"
			(click)="changePage(i)">
				<span [ngClass]="i === page ? 'text-purple': 'text-black'">{{i}}</span>
			</span>
			
			<span class="text-black" 
			(click)="page !== paginate.length ? changePage(page+1): ''"> 
				<img src="/assets/images/icons/caret-right.png" class="img-fluid" width="7px">
			</span>
		</p>
	</div>
</section>