<div class="mt-3" id="service-schedule-container">
	<!-- DOCUMENT FILE DATA -->
	<div [@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}">
		<div>
			<!-- <img src="/assets/images/icons/client-purple.svg" width="22px" class="me-2 img-fluid img-title">
			 --><span class="main-title">Participant Service Schedule
				<span >: {{data?.client?.name}}</span>
			</span>
			<div class="float-end">
				<!-- <button class="btn btn-menu me-3"
				(click)="listView ? listView = false : listView = true">
					<img src="/assets/images/icons/menu-icon.png"
					[@animate]="{value:'*', params:{ scale:'0.7', delay:'200ms' }}"
					*ngIf="listView" width="15px" class="img-fluid">

					<img src="/assets/images/icons/list-icon.png"
					[@animate]="{value:'*', params:{ scale:'0.7', delay:'200ms' }}"
					*ngIf="!listView" width="15px" class="img-fluid">
				</button> -->
				<!-- <button class="btn btn-primary" (click)="openAddServiceScheduleModal()">New Record</button> -->

				<img src="/assets/images/icons/close-dialog.png" 
				class="float-end" 
				style="width: 15px; cursor: pointer;" 
				(click)="dialogRef.close()"> 
			</div>
		</div>
		<br>

		<!-- LIST VIEW -->
		<div *ngIf="listView && !loading"
		style="min-height: 400px;">
			<section class="d-flex">
				<div class="w-100" [@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}">
					<schedule-reusable-list-view
						[loading]="loading"
						(updateSelectedRowDialog)="editDataDialog($event)"
						(viewDetails)="editDataDialog($event)"
	          			(deleteSelectedRow)="deleteDataDialog($event)"
	          			(rescheduleSelectedRow)="initializeControlAction('reschedule')"
	          			(cancelSelectedRow)="initializeControlAction('cancel')"
	          			(completeSelectedRow)="initializeControlAction('mark-complete')"
						[componentTitle]="'Service Schedule'"
						[displayedColumns]="displayedColumns"
						[selectedColumns]="selectedColumns"
						[selectedColumnsMobile]="selectedColumns"
						[searchSource]="searchSource"
						[maxRows]="25"
						[selectAll]="true"
						[multipleSelect]="true"
						[listDataSource]="serviceScheduleList"
						[showDateFilter]="true"
						(updateSelectedRows)="checkSelectedRows($event)"
						[dateSource]="'start_date'">
					</schedule-reusable-list-view>
				</div>

				<div class="card card-body p-1 mt-2 ms-3" 
				[ngStyle]="{
					'min-width': controlWidth,  
					'max-width': controlWidth
				}"
				*ngIf="updateSelectedRows?.selectedRows?.length > 0"
				[@animate]="{value:'*', params:{ x:'50px', delay:'300ms' }}">
					<div class="p-2 row">
						<div class="col-12 text-end">
							<div class="d-flex control-list align-self-start justify-content-start" (click)="initializeControlAction('expand')">
								<img [src]="controlWidth !== '55px' ? '/assets/images/icons/schedule-minimize.png' : '/assets/images/icons/schedule-expand.png'" style="cursor: pointer;" class="expand mb-3">

								<div class="control-title ms-2" *ngIf="controlWidth !== '55px'">
								</div>
							</div>
						</div>

						<ng-container *ngFor="let item of controlList">
							<div class="col-12">
								<div class="d-flex control-list">
									<img [src]="item?.icon" class="img-fluid w-100 hvr-grow" 
									style="cursor: pointer; margin-bottom: 10px;" 
									[ngClass]="item?.class" 
									(click)="initializeControlAction(item?.action_event)"
									data-bs-toggle="tooltip" data-bs-placement="top"
									title="{{item?.title}}">

									<div class="control-title ms-2" *ngIf="controlWidth !== '55px'"
									(click)="initializeControlAction(item?.action_event)"
									[ngClass]="item?.class?.match('margin-text') ? 'mt-2' : ''">{{item?.title}}</div>
								</div>
							</div>
						</ng-container>
					</div>
				</div>
			</section>
		</div>

		<!-- LOADING ANIMATION SCREEN -->
		<global-admin-loader
			[withSideBar]="false"
			[fromDetailTab]="true"
			[loading]="loading">
		</global-admin-loader>
	</div>
</div>
