
<div class="assign-action-container px-2">
	<img src="/assets/images/icons/pending-status.png" class="img-fluid" width="30px">

	<h5 class="header-text-action mb-0">{{data?.title || 'Reschedule a Shift'}}</h5>
	<h5 class="header-text mt-1">Fill up the form and click continue to proceed</h5><hr>

	<div class="">
		<form [formGroup]="rescheduleForm" >
			<div class="ms-4 mt-3">
				<p class="mat-subtitle-description">All selected schedule will change based on the date selected below. Proceed carefully.</p>
			</div>

			<app-dropdown
			label="Change Date or Time"
			[labelTop]="true"
			[required]="true"
			[options]="radioOptions"
			formControlName="time_or_date">
				
			</app-dropdown>

			<!-- (keyevents)="setEndDateFromHoursEvents($event, 'start_date')" -->
			<app-date-picker *ngIf="rescheduleForm.controls['time_or_date'].value == 'Both Date and Time' || rescheduleForm.controls['time_or_date'].value == 'Date Only'"
                label="Date"
                [labelTop]="true"
                [required]="rescheduleForm.controls['time_or_date'].value == 'Both Date and Time'"
                formControlName="start_date">
            </app-date-picker >

            <!-- (focus)="activeFocus($event, 'start_time')" -->
            <ng-container *ngIf="rescheduleForm.controls['time_or_date'].value == 'Both Date and Time' || rescheduleForm.controls['time_or_date'].value == 'Time Only'">
            	<app-time-analog 
            	    label="Start Time"
            	    [labelTop]="true"
            	    [required]="true"
            	    [value24Hour]="true"
            	    formControlName="start_time">
            	</app-time-analog >

            	<!-- (focus)="activeFocus($event, 'end_time')" -->
            	<app-time-analog  
            	    label="End Time"
            	    [labelTop]="true"
            	    [required]="true"
            	    [value24Hour]="true" 
            	    formControlName="end_time">
            	</app-time-analog >
            </ng-container>
		</form>
	</div>
</div>

<div mat-dialog-actions>
	<div class="row container">

		<div class="col-md-12 text-center">
			<button 
			mat-button 
			(click)="dialogRef.close()" 
			class="btn  btn-header-gray ms-3">Cancel</button>

			<button [disabled]="!checkValid()"
			mat-button 
			(click)="closeSaveDialog()" 
			class="btn btn-primary">Continue</button>
		</div>
	</div>
</div>
