@import "src/scss/colors";


.main-container{
  background: linear-gradient(146.77deg, #9595E5 0%, #7676B5 100%);
  //padding-top: 15px !important;
  padding: 0 !important;
  margin: 0 !important;

  .login-ellipse{
    width: 350px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9 !important;
  }

  .login-ellipse-2{
    width: 450px;
    position: absolute;
    bottom: 0px;
    left: 50px;
    z-index: 9 !important;
  }

  .login-rectangle{
    width: 250px;
    position: absolute;
    bottom: 10px;
    right: 0;
    opacity: 0.5;
    
  }

  .login-dots{
    width: 200px;
    position: absolute;
    bottom: 10%;
    right: 10%;
    opacity: 1;
  }
  

  .login-dots-2{
    width: 200px;
    position: absolute;
    top: 5%;
    left: 10%;
    opacity: 1;
  }
  

  .login-cross{
    width: 400px;
    position: absolute;
    top: 10%;
    left: 10%;
    opacity: 1;

  }

  @keyframes pulse {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.4, 1.4);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  .login-gear{
    width: 100px;
    position: absolute;
    top: 20%;
    left: 10%;
    opacity: 1;
    animation: rotation 3s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  

  .login-main-image{
    z-index: 9999 !important;
    //position: absolute;
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    //bottom: 20px;
    //right: 20px;
  }

  .login-text{
    color: white;
    font-size: 28px;
    /* word-wrap: break;
    width: 150px; */
  }

  .login-shake-hands{
    width: 65px;
    position: absolute;
    bottom:15%;
    left: -20px;
    z-index: 9999999 !important;
  }

  .login-heart{
    width: 65px;
    position: absolute;
    top: 15%;
    right: -20px;
    z-index: 9999999 !important;
    
  }

  @media (min-width: 1000px) and (max-width: 1300px){
    .login-circle{
      width: 55px;
    }

    .login-heart{
      width: 26px;
      right: 45px;
      top: 27.3%;
    }
  }

  @media (min-width: 650px) and (max-width: 998px){
    .login-circle{
      width: 42px;
    }

    .login-heart{
      width: 25px;
      right: 40px;
      top: 26.5%;
    }
  }

  @media (max-width: 649px){
    .login-circle{
      width: 42px;
    }

    .login-heart{
      width: 22px;
      right: 40px;
      top: 28%;
    }
  }
}

.bg-gray{
  background: #f9f9f9 !important;
}

.main-body{
  background: rgba(255,255,255, 0.3);
  padding: 20px 15px !important;
  border-radius: 18px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05) !important;
  -moz-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05) !important;

  .container-title{
    font-size: 25px;
    font-weight: 500;
    font-weight: $color-gray;
    //color: white;
  }

  .container-title-main{
    font-size: 30px;
    font-weight: bold;
    color: $color-gray;
    span{
      color: $color-purple;
    }
  }

  .card{
    z-index: 99999 !important;
  }

  .create{
    width: 100%;
  }

  .join{
    width: 92%;
    margin-left: 5%;
  }

  .btn-primary-secondary{
    background: white;
    border: solid 0.5px $color-purple;
    color: $color-purple;
    border-radius: 4px !important;
    font-size: 14px !important; 
    font-weight: 600 !important;
    -webkit-transition: all 0.1s linear !important;
        -moz-transition: all 0.1s linear !important;
             transition: all 0.1s linear !important;
    &:hover{
      color: white;
      background: $color-purple;
    }
  }
}

:host ::ng-deep{
  .mat-snack-bar-container{
    background: $color-purple !important;
    color: white !important;
    font-weight: 300 !important;
    font-size: 13px;
    padding-left: 25px !important;
    border: 2px solid $color-purple !important;
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 9999999 !important;
    border-radius: 8px !important;
    border-radius: 8px !important;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05) !important;
    -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05) !important;
    -moz-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05) !important;
    //background: white;

    .mat-button, .mat-button-base{
      color: white !important;
      font-size: 18px;
      padding-right: 10px;
      //width: 26px;

      /* &::before {
        font-family: "Material Icons";;
        content: "\e5cd";
      } */
    }
  }
}


.img-container{
  //border-radius: 20px !important;
  //box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05) !important;
  -moz-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05) !important;
  //background: linear-gradient(146.77deg, #9595E5 0%, #7676B5 100%);
  padding: 0px;
  position: relative !important;
  overflow: hidden;

  .img-banner{
    padding: 0px;
    border-radius: 50px;
    min-height: 580px;
    z-index: 99999 !important;

    @media (max-width: 998px){
      min-height: 100% !important;
    }
  }
}

.container-title-sub{
  font-size: 20px;
  font-weight: 500;
  font-weight: $color-gray;

  span{
    color: $color-purple;
  }
}

.dont-have-account{
  color: #98A0B1;
  span{
    color: $color-purple;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
}