<div id="employee-workdays-container">
	<!-- BUTTONS CONTROLLER -->
	<employee-details-navigation
		[id]="id"
		[activeLink]="'workdays'">
	</employee-details-navigation>

	<!-- STATISTICS DATA -->
	<div class="card card-body pt-4 shadow-3">
		<employee-main-profile-stats></employee-main-profile-stats>
	</div>

	<!-- DOCUMENT FILE DATA -->
	<div class="mt-2" style="width: 100% !important; min-height: 400px;" 
	[@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}">
		<div class="row" *ngIf="!loading">
			<div class="col-sm-12 col-md-12 card-form">
				<mat-card>
					<mat-card-title>
						Availability
						<span class="float-end view-edit" (click)="editEmployee()">Edit</span>
						<hr>
					</mat-card-title>

					<mat-card-content>
						<div class="row">
							<div class="col-12 col-md-12 px-0">
								<table class="table w-100 px-2">
									<tbody>
										<tr *ngFor="let workday of weekdays?.slice(0,7); let i = index;">
											<td class="workday-label">{{ workday?.week_label }}</td>
											<td class="workday-toggle">
												<mat-slide-toggle [disabled]="true"
												[(ngModel)]="workday.is_available" [ngModelOptions]="{ standalone: true }"></mat-slide-toggle>
												<span class="toggle-label">{{ workday.is_available ? 'Available' : 'Not Available' }}</span>
											</td>

											<td class="workday-time">
												<ng-container *ngIf="workday.is_available">
													<mat-form-field>
														<input matInput id="timeStart-{{i}}" 
														[disabled]="true"
														type="time" [(ngModel)]="workday.time_start" [ngModelOptions]="{ standalone: true }" #timeStart>
														<div class="time-counter">
															<!-- <button class="time-up" (click)="upWeek($event, timeStart.id, i, 'time_start')"></button>
															<button class="time-down" (click)="downWeek($event, timeStart.id, i, 'time_start')"></button> -->
														</div>
													</mat-form-field>
													<span class="to">to</span>
													<mat-form-field>
														<input matInput id="timeEnd-{{i}}" type="time" 
														[disabled]="true" [(ngModel)]="workday.time_end" [ngModelOptions]="{ standalone: true }" #timeEnd>
														<div class="time-counter">
															<!-- <button class="time-up" (click)="upWeek($event, timeEnd.id, i, 'time_end')"></button>
															<button class="time-down" (click)="downWeek($event, timeEnd.id, i, 'time_end')"></button> -->
														</div>
													</mat-form-field>
												</ng-container>
											</td>
										</tr>
									</tbody>
								</table>
							</div>

							<!-- <div class="col-12 col-md-12">
								<hr>
								<div class="row">
									<div class="col-12 col-md-5 set-schedule">
										<div class="schedule-header">
											<span class="title">Specific date Schedule</span>
											<mat-slide-toggle [(ngModel)]="isChecked" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
											<mat-divider></mat-divider>
										</div>
										<mat-calendar class="mt-2"
											[hidden]="!isChecked && selectedDates?.length === 0"
											#calendar
											
											[dateClass]="isSelected"
										></mat-calendar>
									</div>
									<div class="col-12 col-md-6 set-schedule mt-md-5">
										
										<div class="schedule-selected mt-md-2" *ngIf="isChecked">
											<table class="table px-3">
												<tbody>
													<tr *ngFor="let selected of selectedDates; let i = index;">
														<td class="workday-label">{{ selected?.label }}</td>
														<td class="workday-select pe-4">
															
															{{selected?.availability}}
														</td>
														<td class="workday-time">
															<mat-form-field>
																<input [disabled]="true" matInput id="timeStartSelected-{{i}}" type="time" [(ngModel)]="selected.time_start" [ngModelOptions]="{ standalone: true }" #timeStartSelected>
															<div class="time-counter">
																
															</div>
															</mat-form-field>
															<span class="to">to</span>
															<mat-form-field>
																
															<input [disabled]="true" matInput id="timeEndSelected-{{i}}" type="time" [(ngModel)]="selected.time_end" [ngModelOptions]="{ standalone: true }" value="{{ selected.time_end }}" #timeEndSelected>
															<div class="time-counter">
																
															</div>
															</mat-form-field>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div> -->
						</div>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
		<!-- LOADING ANIMATION SCREEN -->
		<global-admin-loader 
			[withSideBar]="false"
			[fromDetailTab]="true"
			[loading]="loading">
		</global-admin-loader>
	</div>
</div>