<!-- HEADER -->
<!-- <app-header></app-header>
 -->		
<div class="container-fluid py-5" id="main-container"
[@animate]="{value:'*', params:{ scale:'.9', delay:'400ms' }}">
	<div class="container">
		<div class="row card-body p-0 px-lg-3 pe-lg-5">

			<div class="col-12 col-md-6 offset-md-3 login-container px-3 px-md-5 py-5"
			*ngIf="!loading"
			[ngClass]="!error ? 'pt-lg-5': ''">
				<!-- Error Message -->
				<form class="px-3 px-md-5 pt-5" (submit)="loginAdmin()" [formGroup]="adminLoginForm">
					<!-- <img src="/assets/images/placeholder/lama-logo-black.png" class="img-fluid logo-placeholder"> -->

					<h4 class="login-title m-0">Manage Account Access</h4>
					<p class="text-justify login-description mt-2">
						As a new employee account, please update your account password to continue using the LAMA Care software
					</p> 
					<div class="form-group" [ngClass]="error ? 'mt-2' : 'mt-4'">
						<div class="alert alert-danger alert-dismissible fade show error-message" [@animate]="{value:'*', params:{ y:'50px', delay:'600ms' }}" *ngIf="error" role="alert">
						  	<button type="button" class="btn-close hvr-buzz-out" data-bs-dismiss="alert" aria-label="Close" (click)="onAlertClose()"></button>
						  	<span [innerHtml]="error"></span>
						</div>  

						<div class="alert alert-success alert-dismissible fade show error-message" [@animate]="{value:'*', params:{ y:'50px', delay:'600ms' }}" *ngIf="message" role="alert">
						  	<button type="button" class="btn-close hvr-buzz-out" data-bs-dismiss="alert" aria-label="Close" (click)="onAlertClose()"></button>
						  	<span [innerHtml]="message"></span>
						</div>  

						<input type="email" class="form-control" 
						formControlName="email" id="email"
						autocomplete="password"
						placeholder="Email" required>
						<label for="email" class="d-flex" *ngIf="adminLoginForm.controls['email'].value"
						[@animate]="{value:'*', params:{ scale:'.9', delay:'200ms' }}"
						[ngClass]="adminLoginForm.controls['email'].value ? 'form-val' : ''">
							<div>
								<img src="/assets/images/icons/mail-white.png" width="23px" class="img-fluid me-2 img-plc" style="margin-top: -2px;">
							</div>

							<div>Email</div>
						</label>
					</div> 
					<div class="form-group mt-4">
						<img src="/assets/images/placeholder/show-password.png" 
						style="width: 22px;height: 23px; cursor: pointer; margin-left: -35px; 
						margin-top: 7px; position: absolute; right: 105px; z-index: 999999 !important;" 
						(click)="adjustType()">

						<input [type]="inputType" class="form-control" id="password" 
						autocomplete="password"
						placeholder="Password" formControlName="password" style="z-index: 9999 !important;">

						<label for="password" class="d-flex" style="z-index: 99999 !important;"
						[@animate]="{value:'*', params:{ scale:'.9', delay:'200ms' }}"
						*ngIf="adminLoginForm.controls['password'].value"
						[ngClass]="adminLoginForm.controls['password'].value ? 'form-val' : ''">
							<div>
								<img src="/assets/images/icons/password-white.png" width="23px"  class="img-fluid me-2 img-plc" style="margin-top: -2px;">
							</div>

							<div>Password</div>
						</label>
					</div>

					<div class="form-group mt-4">
						<img src="/assets/images/placeholder/show-password.png" 
						style="width: 22px;height: 23px; cursor: pointer; margin-left: -35px; 
						margin-top: 7px; position: absolute; right: 105px; z-index: 999999 !important;" 
						(click)="adjustType()">

						<input [type]="inputType" class="form-control" id="confirmPassword" 
						autocomplete="confirmPassword"
						placeholder="Confirm Password" formControlName="confirmPassword" style="z-index: 9999 !important;">

						<label for="confirmPassword" class="d-flex" style="z-index: 99999 !important;"
						[@animate]="{value:'*', params:{ scale:'.9', delay:'200ms' }}"
						*ngIf="adminLoginForm.controls['confirmPassword'].value"
						[ngClass]="adminLoginForm.controls['confirmPassword'].value ? 'form-val' : ''">
							<div>
								<img src="/assets/images/icons/password-white.png" width="23px"  class="img-fluid me-2 img-plc" style="margin-top: -2px;">
							</div>

							<div>Password</div>
						</label>
					</div>
					<br>
					<button type="submit" class="btn btn-login w-100 mt-4"
					[disabled]="submitting || !adminLoginForm.valid">Set Account Password
						<img src="/assets/images/placeholder/loading-login.gif" width="20px" class="img-fluid float-end" *ngIf="submitting">
					</button>

				</form> 
			</div>

			
		</div>
	</div>
</div>
