<ng-container  *ngIf="!labelTop">
    <div class="text-input">
        <div class="d-flex">
            <div class="container-label flex-wrap me-3 justify-content-end d-flex align-items-top pt-2">
                <div class="d-flex">
                    <p [innerHtml]="label"></p>
                    <div *ngIf="required" class="asterisk-required">*</div>
                </div>
            </div>
            <div class="container-input flex-wrap">
                <textarea 
                    [rows]="rows"
                    [cols]="cols"
                    [required]="required" 
                    [readonly]="readonly"  
                    [placeholder]="placeholder" 
                    [disabled]="disabled"
                    [(ngModel)]="initialVal" 
                    (input)="onValueChanged($event)" 
                    ngModelChanged="onValueChanged($event)"
                    (blur)="onTouch($event)"
                    [ngClass]="[isTouched ? 'error' : '']"
                ></textarea>
                <p *ngIf="isTouched" class="error-msg">*Empty Field</p>
            </div>

            <div class="container-info">
                <span class="img-info-container" *ngIf="info">
                    <img src="/assets/images/icons/info-input-icon.png" 
                    [matTooltip]="infoTitle"
                    matTooltipPosition="above"
                    class="img-fluid">
                </span>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="labelTop">
    <div class="text-input">
        <div class="d-flex">
            <p class="label-top text-start text-truncate">
                <span [innerHtml]="label"></span>
                <span *ngIf="required" class="asterisk-required">*</span>
            </p>
        
            <div class="container-info">
                <span class="img-info-container-2" *ngIf="info">
                    <img src="/assets/images/icons/info-input-icon.png" 
                    [matTooltip]="infoTitle"
                    matTooltipPosition="above"
                    class="img-fluid">
                </span>
            </div>
        </div>

        <p *ngIf="subLabel" class="label-top sub-label text-start">
            <span [innerHtml]="subLabel"></span>
        </p>

        <div class="container-input pt-2 px-md-4"
        [ngStyle]="{
            'width': labelTop ? '100%': '',
            'margin-left': labelTop ? '0px': ''
        }">
            <div class="d-flex">
                <textarea 
                    [rows]="rows"
                    [cols]="cols"
                    [required]="required" 
                    [readonly]="readonly"  
                    [placeholder]="placeholder" 
                    [disabled]="disabled"
                    [(ngModel)]="initialVal" 
                    (input)="onValueChanged($event)" 
                    ngModelChanged="onValueChanged($event)"
                    (blur)="onTouch($event)"
                    [ngClass]="[isTouched ? 'error' : '']"
                ></textarea>
            </div>

            <p *ngIf="isTouched" class="error-msg">*Empty Field</p>
        </div>

        
    </div> 
</ng-container>