<div *ngIf="!loading" class="row" [@animate]="{value:'*', params:{ x:'100px', delay:'200ms' }}">
	<div class="col-sm-12 col-md-12 card-form">
		<form [formGroup]="clientDetailForm">
			<mat-card>
				<!-- <mat-card-title *ngIf="isUpdate">
					Client Detail
					<hr>
				</mat-card-title> -->

				<mat-card-content>
					<div class="row pt-3">
						<div class="col-12 col-md-1" style="position: relative;">
							<div class="profile-container align-self-center">
								<div class="img-circle"*ngIf="!imgSrc">
								    <img class="image-placeholder" src="/assets/images/placeholder/avatar-gray.png">
								</div>

								<img *ngIf="imgSrc" [src]="imgSrc" class="image-placeholder-add mb-3">

								<!-- formControlName="logo" -->
								
								<div class="uploader">
									<app-field-upload
									    label=""
									    #upload
									    
									    [labelTop]="true"
									    [chips]="false"
									    [subtitle]="'Upload'"
									    (upload)="onUpload($event)"
									    >
									</app-field-upload>
								</div>
							</div>
						</div>

						<div class="col-12 col-md-5" style="position: relative;">
							<div class="line"></div>

							<app-dropdown id="title"
								label="Title" 
								formControlName="title" 
								[options]="titleOptions" >
							</app-dropdown>

							<app-textfield  id="last_name"
								label="Last Name" 
								formControlName="last_name" 
								[required]="true">
							</app-textfield>

							<app-textfield id="first_name"
								label="First Name" 
								formControlName="first_name" 
								[required]="true">
							</app-textfield>

							<app-textfield id="preferred_name"
								label="Preferred Name" 
								[info]="true"
								[infoTitle]="'If client would like to be referred to by anything other than their first name, enter their preferred name here'"
								formControlName="preferred_name">
							</app-textfield>

							<app-dropdown id="gender"
								label="Gender" 
								formControlName="gender" 
								[options]="genderOptions">
							</app-dropdown>

							<app-dropdown id="status"
								*ngIf="clientDetailData?.id"
								label="Status" 
								formControlName="status" 
								[options]="statusOption">
							</app-dropdown>
						</div>

						<div class="col-12 col-md-6">
							<!-- <app-dropdown id="preferred_gender"
								label="Preferred C/W Gender" 
								formControlName="preferred_gender" 
								[options]="preferredGenderOptions">
							</app-dropdown> -->

							<app-search-list id="preferred_language_id" 
							label="Preferred language" 
							placeholder="Select" 
							formControlName="preferred_language_id"
							[options]="languagesEnums" 
							></app-search-list>

							<app-dropdown id="fund_type"
								label="Fund Type" 
								formControlName="fund_type" 
								[options]="fundTypeOptions">	
							</app-dropdown>

							<app-textfield id="registration_no" 
								label="NDIS Number" 
								formControlName="registration_no">
							</app-textfield>

							<app-search-list id="main_branch" 
								label="Main Branch" 
								formControlName="main_branch_id" 
								placeholder="Select"
								[options]="branchesEnum" 
								[addOption]="true"
								(addMethod)="openAddMainBranch($event)"
							></app-search-list>

							<app-radio-button id="pm_require_approval" 
								label=" Invoices Requires Approval" 
								formControlName="pm_require_approval" 
								[info]="true"
								[infoTitle]="'Whether the client wants to approve all invoices or not'"
								[options]="radioOptions">
							</app-radio-button>
						</div>

						<ng-container *ngIf="clientDetailForm?.controls['fund_type'].value === 'Plan managed'">
							<div class="row col-12" 
							[@animate]="{value:'*', params:{ x:'100px', delay:'200ms' }}">
								<div class="col-1"></div>

								<div class="col-11 mb-3">
									 
									<h5 class="mt-4 ms-5">Plan Manager</h5>
									<hr>
								</div>

								<div class="col-1"></div>
								<div class="col-12 col-md-5">
									<app-textfield id="plan_manager_full_name" 
										label="Full Name" 
										formControlName="plan_manager_full_name">
									</app-textfield>

									<app-textfield id="plan_manager_key_contact" 
										label="Key Contact" 
										formControlName="plan_manager_key_contact">
									</app-textfield>
								</div>

								<div class="col-12 col-md-6">
									<app-textfield id="plan_manager_work_phone" 
										label="Work Phone" 
										formControlName="plan_manager_work_phone">
									</app-textfield>

									<app-textfield id="plan_manager_email" 
										label="Email" 
										formControlName="plan_manager_email">
									</app-textfield>
								</div>
							</div>
						</ng-container>
					</div>
				</mat-card-content>

				<mat-card-actions>
					<hr>
					<div class="row">
						<div *ngIf="!isUpdate" class="col-sm-12 justify-content-end d-flex">
							<button (click)="next()" 
							[disabled]="!clientDetailForm.valid"
							mat-button class="btn btn-header btn-primary">
								Next
							</button>
						</div>
					</div>
					<div *ngIf="isUpdate" class="row">
						<div class="col-sm-6 justify-content-start d-flex">
							
						</div>
						<div class="col-sm-6 justify-content-end d-flex">
							<button (click)="skip()" mat-button class="btn btn-header btn-header-gray">
								Next
							</button>
							
							<button (click)="submit()" 
							[disabled]="!clientDetailForm.valid"
							mat-button class="btn btn-header btn-primary">
								Save
							</button>
						</div>
					</div>
				</mat-card-actions>

			</mat-card>
		</form>
	</div>
</div>
<global-admin-loader [loading]="loading"></global-admin-loader>