<div class="p-3" id="qualification-container">
	<!-- DOCUMENT FILE DATA -->
	<div [@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}">
		<div>
			<!-- <img src="/assets/images/icons/guard-admin-purple.png" width="30px" class="me-2 img-fluid img-title"> -->
			<span class="ms-2 main-title">Client Checklist Item</span>
			<div class="float-end">
				<!-- <button class="btn btn-menu me-3"
				(click)="listView ? listView = false : listView = true">
					<img src="/assets/images/icons/menu-icon.png" 
					[@animate]="{value:'*', params:{ scale:'0.7', delay:'200ms' }}"
					*ngIf="listView" width="15px" class="img-fluid">

					<img src="/assets/images/icons/list-icon.png" 
					[@animate]="{value:'*', params:{ scale:'0.7', delay:'200ms' }}"
					*ngIf="!listView" width="15px" class="img-fluid">
				</button> -->
				<button class="btn btn-primary" (click)="openAddChecklist()">New Checklist Item</button>
			</div>
		</div>
		<br>

		<!-- LIST VIEW -->
		<div class="mt-2"  *ngIf="listView && !loading"
		style="min-height: 400px;">
			<section [@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}">
				<admin-reusable-list-view
					[loading]="loading"
					[componentTitle]="'Client Checklist'"
					(updateSelectedRowDialog)="editDataDialog($event)"
					(deleteSelectedRow)="deleteDataDialog($event)"
					[displayedColumns]="displayedColumns"
					[selectedColumns]="selectedColumns"
					[selectedColumnsMobile]="selectedColumns"
					[searchSource]="searchSource"
					[maxRows]="25"
					[listDataSource]="checkList">
				</admin-reusable-list-view>
			</section>
		</div>

		<!-- GRID VIEW -->
		<div class="mt-2"  *ngIf="!listView && !loading"
		style="width: 100% !important; min-height: 400px;">
			<section [@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}">
				<!-- <client-reusable-grid-view
					[loading]="loading"
					[componentTitle]="'Service Schedule'"
					[listDataSource]="qualificationList">
				</client-reusable-grid-view> -->
			</section>
		</div>

		<!-- LOADING ANIMATION SCREEN -->
		<global-admin-loader 
			[withSideBar]="false"
			[fromDetailTab]="true"
			[loading]="loading">
		</global-admin-loader>
	</div>
</div>