<div class="row">
	<div class="col-6 ps-md-0 mb-3" id="my-tasks-container">
		<div class="card px-3" style="height: 320px;">
			<div class="card-body" >
				<h5 class="main-title">My Tasks</h5>
				
				<div class="row">
					<div class="col-12 col-md-6 mb-3 mb-lg-0">
						<table class="table w-100 px-3">
							<tbody>
								<tr>
									<td class="task-id">01</td>
									<td class="task-description">Sample task 1</td>
									<td class="text-end">
										<img src="/assets/images/icons/checked-success.png" class="img-fluid" width="18px">
									</td>
								</tr>

								<tr>
									<td class="task-id">02</td>
									<td class="task-description">Sample task 2</td>
									<td class="text-end">
										<img src="/assets/images/icons/checked-success.png" class="img-fluid" width="18px">
									</td>
								</tr>

								<tr>
									<td class="task-id">03</td>
									<td class="task-description">Sample task 3</td>
									<td class="text-end">
										<img src="/assets/images/icons/checked-muted.png" class="img-fluid" width="18px">
									</td>
								</tr>

								<tr>
									<td class="task-id">04</td>
									<td class="task-description">Sample task 4</td>
									<td class="text-end">
										<img src="/assets/images/icons/checked-success.png" class="img-fluid" width="18px">
									</td>
								</tr>

								<tr>
									<td class="task-id">05</td>
									<td class="task-description">Sample task 5</td>
									<td class="text-end">
										<img src="/assets/images/icons/checked-muted.png" class="img-fluid" width="18px">
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="col-12 col-md-6 mb-3 mb-lg-0">
						<table class="table w-100 px-3">
							<tbody>
								<tr>
									<td class="task-id">06</td>
									<td class="task-description">Sample task 6</td>
									<td class="text-end">
										<img src="/assets/images/icons/checked-success.png" class="img-fluid" width="18px">
									</td>
								</tr>

								<tr>
									<td class="task-id">07</td>
									<td class="task-description">Sample task 7</td>
									<td class="text-end">
										<img src="/assets/images/icons/checked-success.png" class="img-fluid" width="18px">
									</td>
								</tr>

								<tr>
									<td class="task-id">08</td>
									<td class="task-description">Sample task 8</td>
									<td class="text-end">
										<img src="/assets/images/icons/checked-muted.png" class="img-fluid" width="18px">
									</td>
								</tr>

								<tr>
									<td class="task-id">09</td>
									<td class="task-description">Sample task 9</td>
									<td class="text-end">
										<img src="/assets/images/icons/checked-success.png" class="img-fluid" width="18px">
									</td>
								</tr>

								<tr>
									<td class="task-id">10</td>
									<td class="task-description">Sample task 10</td>
									<td class="text-end">
										<img src="/assets/images/icons/checked-muted.png" class="img-fluid" width="18px">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<a routerLink="/admin" class="btn btn-view-all">View All</a>
			</div>
		</div>
	</div>

	<div class="col-6 ps-md-0 mb-3" id="activity-feed">
		<div class="card px-3" style="height: 320px;">
			<div class="row card-body">
				<div class="col-12 col-md-6">
					<div class="card-container"  id="activity-container">
						<h5 class="main-title">Activity</h5>

						<div class="activity d-flex ps-3">
							<div class="flex-wrap">
								<p class="activity-text">
									Lorem ipsum dolor sit amet
								</p>
								<span class="activity-text-muted">Feb 20, 2021, 4:00 PM</span>
							</div>
						</div>

						<div class="activity d-flex ps-3">
							<div class="flex-wrap">
								<p class="activity-text">
									Lorem ipsum dolor sit amet
								</p>
								<span class="activity-text-muted">Feb 20, 2021, 4:00 PM</span>
							</div>
						</div>

						<div class="activity d-flex ps-3">
							<div class="flex-wrap">
								<p class="activity-text">
									Lorem ipsum dolor sit amet
								</p>
								<span class="activity-text-muted">Feb 20, 2021, 4:00 PM</span>
							</div>
						</div>
					</div>

					<a routerLink="/admin" class="btn btn-view-all mt-3 ms-3">View All</a>
				</div>

				<div class="col-12 col-md-6">
					<div class="card-container" id="feed-container">
						<h5 class="main-title">Feeds</h5>

						<div class="feed d-flex ps-3">
							<div class="flex-wrap">
								<p class="feed-text">
									Zachary Cruz
								</p>
								<span class="feed-text-muted">Feb 20, 2021, 4:00 PM</span>
							</div>
						</div>

						<div class="feed d-flex ps-3">
							<div class="flex-wrap">
								<p class="feed-text">
									Marian Cruz
								</p>
								<span class="feed-text-muted">Feb 20, 2021, 4:00 PM</span>
							</div>
						</div>

						<div class="feed d-flex ps-3">
							<div class="flex-wrap">
								<p class="feed-text">
									Marian Cruz
								</p>
								<span class="feed-text-muted">Feb 20, 2021, 4:00 PM</span>
							</div>
						</div>
					</div>

					<a routerLink="/admin" class="btn btn-view-all mt-3 ms-3">View All</a>
				</div>
			</div>
		</div>
	</div> 
</div>	