<div class="mt-3">
	<global-admin-loader 
		[withSideBar]="false"
		[fromDetailTab]="true"
		[loading]="loading || branchesLoading || optionsLoading">
	</global-admin-loader>
</div>

<section class="mb-5" *ngIf="!loading && !branchesLoading && !optionsLoading"
 [@animate]="{value:'*', params:{ x:'-50px'}}">
	<!-- BRANCH DETAILS -->
	<ng-container >
		<div class="container-fluid" id="organization-details">
			<div class="organization-container w-100">
				<h4>Organisation</h4>
				<h5>Organisation Settings</h5>

				<!-- <img src="/assets/images/placeholder/organization-banner-image.png" class="img-fluid banner-main"> -->
				<img src="/assets/images/placeholder/banner-dots-left.png" class="img-fluid banner-dots-left">
				<img src="/assets/images/placeholder/banner-eclipse-left.png" class="img-fluid banner-eclipse-left">
				<!-- <img src="/assets/images/placeholder/banner-dots-right.png" class="img-fluid banner-dots-right">
				<img src="/assets/images/placeholder/banner-eclipse-right.png" class="img-fluid banner-eclipse-right"> -->
			</div>

			<div class="container text-center mt-4">
				<div class="stepper-container align-self-center">
					<lama-stepper [stepperList]="steps" [orientation]="'horizontal'" 
					[selectedIndex]="formStep - 1" #stepper 
					(selectionChanged)="updateStepper($event.selectedIndex + 1)"></lama-stepper>
				</div>

				<div class="mt-0">
					<ng-container *ngIf="formStep === 1 && branchList !== null">
						<admin-organization-details
						*ngIf="formStep === 1" 
						[branchList]="branchList"
						[id]="id"
						(isValid)="checkFormValidity($event)"
						[payroll_options]="payrollOptions"
						[organizationDetailsForm]="organizationDetailsForm">
						</admin-organization-details>
					</ng-container>

					<ng-container *ngIf="formStep === 2">
						<admin-organization-contact-details
						*ngIf="formStep === 2" 
						(isValid)="checkFormValidity($event)"
						[planManagementForm]="planManagementForm"
						[addressForm]="addressForm">
						</admin-organization-contact-details>
					</ng-container>

					

					<ng-container *ngIf="formStep === 3">
						<admin-organization-plan-management-setup
						(isValid)="checkFormValidity($event)"
						*ngIf="formStep === 3" 
						>
						</admin-organization-plan-management-setup>
					</ng-container>
				</div>

				<div class="mt-3">
					<button mat-button *ngIf="formStep !== 1"
					(click)="back()"
					class="btn btn-header-gray btn-header float-start">Back</button>

					<!--  [disabled]="!checkFormDisabled()" -->

					<button mat-button 
					(click)="save()"
					cdkFocusInitial class="btn btn-primary btn-header ms-3 float-end">Save</button>

					<button mat-button (click)="next()" *ngIf="formStep < 3"
					cdkFocusInitial class="btn btn-primary btn-header float-end">Next</button>

					
				</div>
			</div>
			<br>
		</div>
	</ng-container>

</section>