<div class="card-form" *ngIf="!data?.deactivate">
	<div mat-dialog-title>
		<h5 class="mat-dialog-title"><span *ngIf="!data; else showUpdate">Add</span>
            <ng-template #showUpdate>Update</ng-template> Account Password</h5>
		<hr>
	</div>
	<form [formGroup]="userForm">
		<div mat-dialog-content>
			<div class="row">
				<div class="col-sm-12">
					<app-textfield 
					label="Employee Name" 
					[labelTop]="true"
					[required]="true"
					[readonly]="true"
					formControlName="clientName">
					</app-textfield>

					<app-textfield 
					label="Email" 
					[labelTop]="true"
					[required]="true"
					[readonly]="true"
					formControlName="email">
					</app-textfield>

					<h5 class="mat-subtitle">Account Password</h5>

					<app-textfield 
					label="New Password" 
					placeholder="Type in new password"
					[labelTop]="true"
					[required]="true"
					[inputType]="'password'"
					formControlName="new_password">
					</app-textfield>

					<app-textfield 
					label="Confirm New Password" 
					placeholder="Confirm new password"
					[labelTop]="true"
					[required]="true"
					[inputType]="'password'"
					formControlName="confirm_new_password">
					</app-textfield>
				</div>
			</div>
		</div>
		<div mat-dialog-actions>
			<div class="row text-center mb-3 w-100">
				<div class="col-sm-12 text-center w-100">
					<hr><br>

					<button mat-button (click)="close()" 
					class="btn btn-header-gray btn-header me-3">Close</button>

					<button mat-button (click)="save()" [disabled]="!userForm?.valid"
					cdkFocusInitial class="btn btn-primary btn-header me-3">Save</button>
				</div>
			</div>
		</div>
	</form>

</div>


<div class="card-form" *ngIf="data?.deactivate">
	<div mat-dialog-title>
		<h5 class="mat-dialog-title">
			Deactivate Account
		</h5>
		<hr>
	</div>
	<form *ngIf="!loading" [formGroup]="userForm">
		<div mat-dialog-content>
			<div class="row">
				<div class="col-sm-12">
					<app-textfield 
					label="Participant Name" 
					[labelTop]="true"
					[required]="true"
					[readonly]="true"
					[disabled]="true"
					class="text-capitalize"
					formControlName="clientName">
					</app-textfield>

					<app-date-picker 
						label="Last Day of Service" 
						[labelTop]="true"
						[required]="true"
						formControlName="last_date">
					</app-date-picker>

					<app-textarea 
					label="Reason for Leaving" 
					[labelTop]="true"
					[required]="true"
					class="text-capitalize"
					formControlName="reason_for_leaving">
					</app-textarea>

					<p class="px-4">Are you sure you want to disable access to this participant's account?<br><br> This will result in the employee losing access to their account for their position. Click "continue" to proceed.</p>
				</div>
			</div>
		</div>
		<div mat-dialog-actions>
			<div class="row text-center mb-3 w-100">
				<div class="col-sm-12 text-center w-100">
					<hr><br>

					<button mat-button (click)="close()" 
					class="btn btn-header-gray btn-header me-3">Close</button>

					<button mat-button (click)="save()" [disabled]="!userForm?.valid"
					cdkFocusInitial class="btn btn-danger btn-header me-3">Continue</button>
				</div>
			</div>
		</div>
	</form>

	<!-- LOADING ANIMATION SCREEN -->
	<global-admin-loader 
		[withSideBar]="false"
		[fromDetailTab]="true"
		[loading]="loading">
	</global-admin-loader>
</div>