<div class="card-form">
	<div mat-dialog-title>
		<h5 class="mat-dialog-title">Warning Assigning Employee</h5>
		<hr>
	</div>
	<div *ngIf="!loading">
		<div mat-dialog-content>
			<div class="schedule-details mb-3 ms-4">
				<h5 class="mb-3">
					<strong class="text-capitalize">{{data?.employee?.name}}</strong> is not available on the following dates:
				</h5>

				<!-- , 7:00 am - 4:00 pm -->

				<div class="table w-100 mt-2" style="border-top: dashed 1px #c9c9c9">
					<thead>
						<tr>
							<th>Date</th>
							<th>Time</th>
							<th>Participant</th>
							<th>Reason</th>
						</tr>
					</thead>

					<tbody>
						<ng-container *ngFor="let item of data?.conflict; let i = index">
							<tr>
								<td>
									<strong>
										{{ item?.date * 1000 | date: 'MMM dd, yyyy, EEEE' }}
									</strong> 
								</td>

								<td>
									@{{ convertTo12Hrs(item?.start_time) }} - {{ convertTo12Hrs(item?.end_time) }}
								</td>

								<td style="min-width: 100px !important">
									{{item?.client_name || '-'}}
								</td>

								<td>
									<span class="text-capitalize">
									{{ data?.employee?.first_name }} 
									</span> 

									<span *ngIf="item?.reason !== 'does not have work schedule'; else showOtherReason">
										{{ 
											item?.reason?.toLowerCase().match('leave') 
											? 'is on ' + item?.reason : item?.reason 
										}}
									</span>
									
									<ng-template #showOtherReason>
										<span class="text-capitalize">
										{{ data?.employee?.first_name }} 
										</span> is not available during this work schedule
									</ng-template>
								</td>
							</tr>
						</ng-container>
						
						
					</tbody>
				</div>


				<!-- <ul class="mt-2">
					<ng-container *ngFor="let item of data?.conflict; let i = index">
						<li class="mb-2"
						*ngIf="data?.conflict[i+1]?.date !== item?.date && item?.reason !== 'does not have work schedule'; else showReason">
							<div class="d-flex">
								<div style="width: 180px">
									<strong>
										{{ item?.date * 1000 | date: 'MMM dd, yyyy, EEEE' }}
									</strong>  
								</div>
								<div>
									<span class="text-capitalize">
									{{ data?.employee?.first_name }} 
									</span> {{ 
										item?.reason?.toLowerCase().match('leave') 
										? 'is on ' + item?.reason : item?.reason 
									}}
								</div>
							</div>
						</li>

						<ng-template #showReason>
							<li class="mb-2"
							>
								<div class="d-flex">
									<div style="width: 180px">
										<strong>
											{{ item?.date * 1000 | date: 'MMM dd, yyyy, EEEE' }}
										</strong>  
									</div>
									<div>
										<span class="text-capitalize">
										{{ data?.employee?.first_name }} 
										</span> is not available during this work schedule
									</div>
								</div>
							</li>
						</ng-template>
					</ng-container>
					
				</ul> -->
			</div>		
		</div>
		<div mat-dialog-actions>
			<div class="text-center mb-3 px-0 w-100">
				<hr><br>

				<button mat-button (click)="close()" 
				class="btn btn-header-gray btn-header me-3">Close</button>

				<button mat-button
				cdkFocusInitial class="btn btn-primary btn-header me-3"
				(click)="assignAnyway()">
                    Assign Anyway
                </button>

                <button mat-button
				cdkFocusInitial class="btn btn-primary btn-header me-3"
				(click)="assignToAvailableDates()">
                    Continue Without Employee
                </button>
			</div>
		</div>
	</div>
    <global-admin-loader 
        [withSideBar]="false"
        [fromDetailTab]="true"
        [loading]="loading">
    </global-admin-loader> 
</div> 