<div class="mt-3" id="employee-shift-container">
	<!-- BUTTONS CONTROLLER 
	<employee-details-navigation
		[id]="id"
		[activeLink]="'appraisal-client'">
	</employee-details-navigation>-->


	<!-- DOCUMENT FILE DATA -->
	<div class=""
	style="width: 100% !important; min-height: 400px;" 
	[@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}">
		<div>
			<img src="/assets/images/icons/target-arrow.png" width="30px" class="me-2 img-fluid img-title">
			<span class="main-title">Intake Details</span>
			<div class="float-end">
				<!-- <button class="btn btn-menu me-3" (click)="listView ? listView = false : listView = true">
					<img src="/assets/images/icons/menu-icon.png" 
					[@animate]="{value:'*', params:{ scale:'0.7', delay:'200ms' }}"
					*ngIf="listView" width="15px" class="img-fluid">

					<img src="/assets/images/icons/list-icon.png" 
					[@animate]="{value:'*', params:{ scale:'0.7', delay:'200ms' }}"
					*ngIf="!listView" width="15px" class="img-fluid">
				</button>  -->
				<button class="btn btn-primary" (click)="openAddTask()">Add Intake</button>
			</div>
		</div>
		

		<!-- DOCUMENT FILE DATA -->
		<div *ngIf="listView && !loading" class="mt-4" 
		style="width: 100% !important; min-height: 400px;" 
		[@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}">
			<app-reusable-table-enquiry
				[loading]="loading"
				[componentTitle]="'Employee Tasks'"
				[displayedColumns]="displayedColumns"
				[selectedColumns]="selectedColumns"
				[maxRows]="25"
				[selectedColumnsMobile]="selectedColumns"
				[listDataSource]="employeeTaskList"
				[searchSource]="searchSource">
				
			</app-reusable-table-enquiry>
		</div>

		<br>
		<!-- LOADING ANIMATION SCREEN -->
		<global-admin-loader 
			[withSideBar]="false"
			[fromDetailTab]="true"
			[loading]="loading">
		</global-admin-loader>
	</div>
</div>