

<div class="main-container " style="position: relative !important;">
	<img src="/assets/images/placeholder/login-ellipse.png" class="img-fluid login-ellipse">
	<img src="/assets/images/placeholder/login-ellipse-2.png" class="img-fluid login-ellipse-2">
	
	<div class="pt-lg-5 w-100 vh-100">
		<div>
			<div class="text-center img-container py-4" 
			[@animate]="{value:'*', params:{ y:'-100px', delay:'500ms' }}">


				<div class="row" >
					<div class="col-12 main-body col-md-6 offset-md-3  mb-3" style="position: relative;">
						<img src="/assets/images/icons/shake-hand-border.png" class="img-fluid login-shake-hands">
						<img src="/assets/images/icons/heart-border.png" class="img-fluid login-heart">


						<div class="card card-body text-center p-5" style="min-height: 200px;">
							<h2 class="container-title-main">Welcome</h2>
							<h4 class="container-title mb-4">How can we help?</h4>

							<div class="px-lg-5 w-100">
								<button class="btn btn-primary-secondary d-block w-100 my-3"
								[disabled]="true"
								routerLink="/signup/client">I’m looking for support</button>

								<button class="btn btn-primary-secondary d-block w-100 mb-3"
								[disabled]="true"
								routerLink="/signup/careworker">I’m a support worker</button>

								<button class="btn btn-primary-secondary d-block w-100 mb-3"
								routerLink="/signup/admin">I’m a disability services provider</button>
							</div>

							<div class="text-center mt-1">
								<p class="dont-have-account">Already have an account? 
								<span routerLink="/signin">Login your account</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


