@import "src/scss/colors";

.card{
    border-radius: 8px !important;
    border-color: white !important;
    //box-shadow: none !important
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
}

h5{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    color: $color-gray-dark;
    margin-bottom: 15px;
}

.bg-whitesmoke{
    background: whitesmoke !important;
}

.bg-gray{
    background: #f8f8f8;
}

.card{
    text-align: left;
}

.btn-view-all{
    color: $color-purple;
    font-size: 13px;
    background: #f2f3fe;
    padding: 5px 10px !important;
    border-radius: 6px !important;
    font-weight: 500;
    margin-top: -5px;

    &:hover{
        text-decoration: underline;
    }
}

#statistic-data{
    z-index: 99;
    h5{
        font-size: 17px;
        font-weight: 600 !important;
        color: $color-gray-dark;
        margin-bottom: 0 !important;
        margin-right: 15px;
    }

    .stat-header{
        margin-top: 7px;
        margin-bottom: 0px;
        font-weight: 600 !important;
        color: $color-gray-dark;
        font-size: 30px;
        margin-right: 15px;

    }

    .stat-subtitle{
        color: $color-gray;
        margin-right: 15px;
        font-size: 13px !important;
        font-weight: 400 !important;
    }

    .card{
        height: 130px;
        border-radius: 5px !important;
    }

    .card-body{
        cursor: pointer;
        padding-top: 10px;
    }


    .img-position{
        transition: all 0.3s ease !important;
        img{
            display: flex;
            justify-content: center;
            align-items: center;
            //margin-right: auto !important;
            //margin-left: auto !important;
            //margin-top: 10%;
            margin: 35px auto !important;
            width: 52px;
            /*position: absolute;
            top: 30%;
            left: 30%;
            width: 52px;*/
        }
    }

    .stat-button-main{
        font-size: 15px !important;
        border-radius: 5px !important;
        padding: 5px 15px 5px 15px !important;
        position: relative;
        text-align: center !important;
        .mat-icon{
            position: absolute;
            right: 0px;
            top: 7px;
            font-size: 15px !important;
            vertical-align: bottom;
        }
    }


    .incident{
        //border-left: solid 5px rgba(#E5505D, 0.9) !important;
        border-radius: 7px !important;
        transition: all 0.2s !important;

        &:hover{
            transition: all 0.2s !important;
            border: solid 2px #E5505D !important;
        }

        .bg-incident{
            background: #E5505D !important;
            border-top-right-radius: 7px !important;
            border-bottom-right-radius: 7px !important;
            max-height: 130px !important;
            max-width: 120px !important;
            min-width: 120px !important;
        
            @media(max-width: 1560px){
                max-width: 100px !important;
                min-width: 90px !important;
            }
        }

        //background: rgba(#E5505D, 0.2) !important;
        h5{
            color: rgba(#E5505D, 0.8) !important;
        }

        .stat-button{
            @extend .stat-button-main;
            background: rgba(#E5505D, 0.9);
            color: white;
        }

        

        @extend .img-position;
    }

    .funding{
        //border-left: solid 5px rgba(#FEC040, 1) !important;
         border-radius: 7px !important;

         &:hover{
            transition: all 0.2s !important;
            border: solid 2px rgba(0, 110, 229, 1) !important;
        }

        //background: rgba(#FEC040, 0.2) !important;
        .bg-funding{
            background: rgba(0, 110, 229, 1);
            border-top-right-radius: 7px !important;
            border-bottom-right-radius: 7px !important;
            max-height: 130px !important;
            max-width: 120px !important;
            min-width: 120px !important;
        
            @media(max-width: 1560px){
                max-width: 100px !important;
                min-width: 90px !important;
            }
        }

        h5{
            color: rgba(0, 110, 229, 1) !important;
        }

        .stat-button{
            @extend .stat-button-main;
            background: rgba(0, 110, 229, 1);
            color: white;
        }

        @extend .img-position;
        .img-position{
            img{
                top: 23% !important;
            }
        }
    }

    .careworker{
        //border-left: solid 5px rgba(0, 110, 229, 1) !important;
        //background: rgba(64, 187, 234, 0.2) !important;
        border-radius: 7px !important;

        &:hover{
            transition: all 0.2s !important;
            border: solid 2px #FEC040 !important;
        }

        .bg-careworker{
            background:  rgba(#FEC040, 1);
            border-top-right-radius: 7px !important;
            border-bottom-right-radius: 7px !important;
            max-height: 130px !important;
            max-width: 120px !important;
            min-width: 120px !important;
        
            @media(max-width: 1560px){
                max-width: 100px !important;
                min-width: 90px !important;
            }
        }

        h5{
            color: rgba(#FEC040, 1) !important;
        }

        .stat-button{
            @extend .stat-button-main;
            background: rgba(#FEC040, 1);
            color: white;
        }

        @extend .img-position;
    }


    
    
    
}
