<div class="mt-3" id="employee-shift-container">
	<!-- BUTTONS CONTROLLER 
	<employee-details-navigation
		[id]="id"
		[activeLink]="'appraisal-client'">
	</employee-details-navigation>-->


	<!-- DOCUMENT FILE DATA -->
	<div class=""
	style="width: 100% !important; min-height: 400px;" 
	[@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}">
		<div>
			<img src="/assets/images/icons/care-management-purple.svg" width="30px" class="me-2 img-fluid img-title">
			<span class="main-title">Support Coordination</span>
			<div class="float-end">
				<button class="btn btn-primary" (click)="openAddSupport()">New Support Coordination</button>
			</div>
		</div>
		
		<!-- DOCUMENT FILE DATA -->
		<div *ngIf="listView && !loading"
		style="width: 100% !important; min-height: 400px;" 
		[@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}">
			<care-reusable-table-assessment
				[loading]="loading"
				[componentTitle]="'Needs Assessments'"
				[displayedColumns]="displayedColumns"
				[selectedColumns]="selectedColumns"
				[maxRows]="25"
				[selectedColumnsMobile]="selectedColumns"
				[listDataSource]="supportList"
				[searchSource]="searchSource">
			</care-reusable-table-assessment>
		</div>

		<br>
		<!-- LOADING ANIMATION SCREEN -->
		<global-admin-loader 
			[withSideBar]="false"
			[fromDetailTab]="true"
			[loading]="loading">
		</global-admin-loader>
	</div>
</div>