<div class="card-form">
	<div mat-dialog-title>
		<h5 class="mat-dialog-title">Search Clients</h5>
		<hr>
	</div>
	
	<form *ngIf="!loading" [formGroup]="clientForm">
		<div mat-dialog-content>
			<div class="row">
				<div class="col-md-12">
					<app-search-list 
					label="Client" 
					[required]="true" 
					placeholder="Select" 
					formControlName="client"
					[options]="clientOptions"
					[labelTop]="true"
					[objectReturn]="true" 
					></app-search-list>

					<app-search-list
					    label="Client Funding"
					    [labelTop]="true"
					    [required]="true"
					    [readonly]="!clientForm?.controls['client']?.value"
					    formControlName="client_funding"
					    [options]="clientFundingEnum"
					    [objectReturn]="true" >
					</app-search-list>
					 
				</div>
			</div>
		</div>
		<div mat-dialog-actions>
			<div class="text-center mb-3 px-0 w-100">
				<hr><br>

				<button mat-button (click)="close()" 
				class="btn btn-header-gray btn-header me-3">Close</button>

				<button mat-button (click)="save()" 
				[disabled]="!clientForm.valid"
				cdkFocusInitial class="btn btn-primary btn-header me-3">Save</button>
			</div>
		</div>
	</form>

	<global-admin-loader 
        [withSideBar]="false"
        [fromDetailTab]="true"
        [loading]="loading"
        [formOnly]="true">
    </global-admin-loader>
</div>