<div class="assign-action-container px-0" *ngIf="!data?.title">
	<img src="/assets/images/icons/checked-success.png" class="img-fluid" width="30px">

	<h5 class="header-text-action">Onboarding Successful!</h5>
	<h5 class="header-text">Logging you in...
		
	</h5>
</div>

<div class="assign-action-container px-0" *ngIf="data?.title">
	<img src="/assets/images/icons/checked-success.png" class="img-fluid" width="30px">

	<h5 class="header-text-action">{{data?.title}}</h5>
	<h5 class="header-text">Logging you in...
		
	</h5>
	<p class="header-info">Ask the team owner for permissions</p>
</div>

<div mat-dialog-actions style="width: 400px !important;">
	<div class="row container">

		<div class="col-md-12 text-center">
			<button 
			mat-button 
			(click)="dialogRef.close()" 
			cdkFocusInitial 
			class="btn btn-header-gray btn-header ms-3">Cancel</button>

			<button 
			mat-button 
			(click)="dialogRef.close()" 
			cdkFocusInitial 
			class="btn btn-primary btn-header">Got It</button>
		</div>
	</div>
</div>
