@import "src/scss/colors";


.side-stepper{
	background: white;
	border-color: white;

	border-radius: 8px !important;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
	
	padding: 10px 20px 10px 10px !important;
	margin-right: 20px;
	width: 310px;
	min-height: 100%;
	height: 100vh;
}

.banner-container{
	//background: red;
	margin-top: 0px;
	padding: 0;
	//background: linear-gradient(91.16deg, #995FEC 0%, #6335A6 100%);
	border-radius: 4px;
	position: relative;
	overflow: hidden;
	/* box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05); */

	h4{
		color: $color-gray;
		font-size: 35px;
		font-weight: bold;
	}

	h5{
		color: $color-gray;
		font-weight: 600;
		font-size: 24px;
		padding-top: 20px;
	}

	.banner-main{
		width: 270px;
		position: absolute;
		right: 15%;
		top: 0;
		z-index: 99;
	}

	.banner-dots-left{
		position: absolute;
		width: 190px; 
		left: 30%;
		top: 15px;
		z-index: 9;
	}

	.banner-eclipse-left{
		position: absolute;
		width: 145px;
		left: 35%;
		top: -25px;
		z-index: 9;
	}

	.banner-dots-right{
		position: absolute;
		width: 150px;
		right: 10%;
		top: 0;
		z-index: 9;
	}

	.banner-eclipse-right{
		position: absolute;
		width: 580px;
		right: -10%;
		top: 0px;
		z-index: 9;
	}
}
.shadow{
	box-shadow: 0px 4px 5px rgba(102, 50, 102, 0.01);
	-webkit-box-shadow: 0px 4px 5px rgba(102, 50, 102, 0.01);
	-moz-box-shadow: 0px 4px 5px rgba(102, 50, 102, 0.01);
}
.btn-view-more{
	@extend .shadow;
	padding: 7px 15px !important;
	margin-top: 8px;
	//margin-left: -4px;
	background: white;
	color: $color-purple;
	font-size: 11px !important;
	border-radius: 4px !important;
	border: solid 1px $color-purple;
	font-weight: 600 !important;
	&:hover{
		background: $color-purple;
		color: white;
	}
}