@import "src/scss/colors";

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #BDBDBD;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #BDBDBD;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #BDBDBD;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #BDBDBD;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #BDBDBD;
}
::placeholder { /* Most modern browsers support this now. */
   color:    #BDBDBD;
}

.truncate {
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-input {
    margin-bottom: 20px;
        
        .label-top{
            //margin-left: -20px !important;
            font-weight: 500;
            padding-left: 25px !important;
            font-size: 12px !important;
            //width: 160px;
            text-align: left !important;
        }
    .asterisk-required {
        margin-left: 4px;
        color: #FF0000 !important;
    }

    p {
        text-align: right !important;
        margin-bottom: 0px;
        font-weight: 500 !important;
        color: $color-gray;
    }

    .error-msg {
        text-align: left !important;
        color:#E01515;
        font-size: 10px;
        margin-top: 5px;
    }

    .error {
        border: 1px solid #E01515;
    }

    .remove-border-left-radius{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .disabled{
        background: #F3F3F3 !important;
        //background: red !important;
        color: #BDBDBD !important;
    }

    input {
        height: 28px;
        border-radius: 5px;
        border: 1px solid #BDBDBD;
        box-sizing: border-box;
        border-radius: 5px;
        padding-left: 5px;
        width: 100%;

        &:focus {
            outline: 1px solid $color-purple;
        }
    }

    input:focus {
        outline: 1px solid $color-purple;
    }

    .container{
        &-label{
            width: 150px;
            font-size: 13px !important;
            font-family: "Noto Sans" !important;
        }

        &-input{
            width: 55%;
            
            .mat-icon{
                vertical-align: center;
                background: #D0D0D0;
                color: #4D4D4D;
                font-size: 19px;
                height: 28px;
                width: 30px;
                padding: 5px 10px 0px 7px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            .img-container{
                background: #D0D0D0;
                color: #4D4D4D;
                padding: 3px 6px 3px 8px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                vertical-align: center;
                img{
                    width: 18px;
                }
            }
        }
    }

    .container-info{
        .img-info-container{
            color: $color-purple !important;
            img{
                margin-left: 13px;
                margin-top: 6px;
                width: 16px;
                cursor: pointer;
            }
        }
    }
}

.btn-primary{
    padding: 3px 10px !important;
}

.uploader-container{
    border: solid 1px #c9c9c9;
    border-radius: 8px;
    padding: 30px;

    .btn-uploader{
        padding: 5px 10px !important;
        margin-left: 10px;
    }

    .file{
        border: solid 1px #c9c9c9;
        border-radius: 8px;
        padding: 20px 10px; 
        position: relative;

        .img-circle{
            width: 35px;
            height: 35px;
            padding-top: 6px;
            padding-left: 1px;
            border-radius: 55%;
            background: rgba(255, 239, 205, 1); 
        }

        .chip-text{
            margin-top: 5px;
        }

        .close{
            position: absolute;
            right: 20px;
            top: 37.5%;
            cursor: pointer;
        }
    }


}