@import "src/scss/colors";


.shadow{
    box-shadow: 0px 4px 5px rgba(102, 50, 102, 0.01);
    -webkit-box-shadow: 0px 4px 5px rgba(102, 50, 102, 0.01);
    -moz-box-shadow: 0px 4px 5px rgba(102, 50, 102, 0.01);
}

.btn-view-more{
    @extend .shadow;
    padding: 7px 15px !important;
    margin-top: 8px;
    //margin-left: -4px;
    background: white;
    color: $color-purple;
    font-size: 10px;
    border-radius: 4px !important;
    //border: solid 1px $color-purple;

    &:hover{
        background: $color-purple;
        color: white;
    }
}


:host ::ng-deep {
    .mat-chip{
        margin-left: -20px !important;
        max-width: 100px;
    }

    /* .line{
        width: 0.4px;
        border-left: dashed 0.4px #D5D5D5;
        height: 90%;
        left: 7%;
        position: absolute;
        //background: #dbdbdb;
    } */

    .profile-container{
        margin-left: -20px !important;

        .uploader{
            
        }



        .btn-uploader{
            border-radius: 7px !important;
            width: 95px;
            margin-left: -21px;
        }

        .img-circle{
            border-radius: 10px;
            background: rgba(86, 103, 137, 0.2);
            padding-top: 30px;
            padding-left: 32px;
            width: 100px;
            height: 100px;
            margin-bottom: 10px;
            .image-placeholder {
                width: 35px;
                height: auto;
            }
        }

        .image-placeholder-add{
            border: dashed 1px #c9c9c9;
            border-radius: 10px;
            width: 100px;
            height: 100px;
            margin: 0 auto !important;
            object-fit: cover;
            object-position: center;
        }
    }


    .card-form {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 10px;


        .mat-card {
            /* box-shadow: 0px 4px 5px rgba(102, 102, 102, 0.25);
            -webkit-box-shadow: 0px 4px 5px rgba(102, 102, 102, 0.25);
            -moz-box-shadow: 0px 4px 5px rgba(102, 102, 102, 0.25);
            border-radius: 20px; */

            border-radius: 8px !important;
            box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
            -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
            padding-top: 45px !important;
            padding: 25px 25px;

            .mat-card-title{
                font-size: 20px;
                color: $color-gray-dark;

                hr {
                    border: 0.5px solid #777777;
                    margin-bottom: 30px;
                }
            }

            .mat-card-content {
                padding: 0 50px 0 50px;
            }

            .mat-card-actions{
                padding: 10px 25px;

                .btn-header-gray{
                    background: #D0D0D0;
                    color: $color-gray-dark;
                }

                .btn-header{
                    border-radius: 5px !important;
                    padding: 7px 30px !important;
                }
            }
        }
    }
}