<div class="card-form">
	<div mat-dialog-title>
		<h5 class="mat-dialog-title"><span *ngIf="!data; else showUpdate">Add</span>
            <ng-template #showUpdate>Update</ng-template> Account Password</h5>
		<hr>
	</div>
	<form [formGroup]="userForm">
		<div mat-dialog-content>
			<div class="row">
				<div class="col-sm-12">
					<app-textfield 
					label="Employee Name" 
					[labelTop]="true"
					[required]="true"
					[readonly]="true"
					formControlName="employeeName">
					</app-textfield>

					<app-textfield 
					label="Email" 
					[labelTop]="true"
					[required]="true"
					[readonly]="true"
					formControlName="email">
					</app-textfield>

					<h5 class="mat-subtitle">Account Password</h5>

					<app-textfield 
					label="New Password" 
					placeholder="Type in new password"
					[labelTop]="true"
					[required]="true"
					[inputType]="'password'"
					formControlName="new_password">
					</app-textfield>

					<app-textfield 
					label="Confirm New Password" 
					placeholder="Confirm new password"
					[labelTop]="true"
					[required]="true"
					[inputType]="'password'"
					formControlName="confirm_new_password">
					</app-textfield>
				</div>
			</div>
		</div>
		<div mat-dialog-actions>
			<div class="row text-center mb-3 w-100">
				<div class="col-sm-12 text-center w-100">
					<hr><br>

					<button mat-button (click)="close()" 
					class="btn btn-header-gray btn-header me-3">Close</button>

					<button mat-button (click)="save()" [disabled]="!userForm?.valid"
					cdkFocusInitial class="btn btn-primary btn-header me-3">Save</button>
				</div>
			</div>
		</div>
	</form>

</div>