<!-- HOME HEADER -->
<home-header></home-header>

<div class="container-fluid h-100">
  <div class="container">
    <div class="card mt-4">
      <div class="row pt-5 mb-3" >
        <div class="d-none d-md-block col-md-1"></div>
        <div class="col-12 col-md-5 text-right">
          <div class="img-banner">
            <img src="/assets/images/placeholder/banner-2.png" class="img-fluid">
          </div>
        </div>
        <div class="col-12 col-md-5 pt-3 ps-5">
          <h4 class="logo-text" 
          [@animate]="{value:'*', params:{ y:'100px', delay:'500ms' }}">
          Oops! The Page does not exist.</h4>
          
          <img src="/assets/images/placeholder/error-404.png" 
          [@animate]="{value:'*', params:{ y:'-100px', delay:'300ms' }}"
          class="img img-fluid mb-5 mt-3" width="350px">
          <br>
        </div>
      </div>
    </div>

    <div class="col-md-12 coming-soon-text py-5" height="100%">
      <h3>Page not Found</h3>
      <p class="cs-text">Lama Platform. Lorem Ipsum Text</p>
      <a class="btn bg-dark" href="mailto:Sherwin@moveup.app">Get in touch</a>
    </div>
  </div>

</div>
