@import "src/scss/colors";

:host ::ng-deep{
  ::-webkit-scrollbar {
    width: 3px !important;
    height: 10px;
    cursor: move; /* fallback if grab cursor is unsupported */
  }
}

.side-sub-menu{
    &-container{
        cursor: pointer;

        &:hover{
            img{
                //transform: rotate(-360deg);
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                transition: transform 0.4s ease; 
            }
        }

        img{
            margin-top: -3px;
            margin-right: 10px;
        }
    }

    &-title{
        color: $color-gray-dark;
        font-size: 14px;
        font-weight: bold;

    }
}

.btn-header-gray{
  background: #D0D0D0;
  color: $color-gray-dark;
}



.btn-header{
  border-radius: 5px !important;
  padding: 7px 30px !important;
}


.dialog-responsive .mat-dialog-container
{
    //min-height: 70% !important;
    min-width: 660px !important;
    //max-height: 70% !important;

    @media (max-width: 768px){
      min-height: 50%;
      min-height: 500px;
    }
}

.hvr-underline-from-center{
    &::before{
        background: $color-purple;
    }
}