<div class="card card-body mt-3 py-5 px-md-5">
	<h5 class="text-center mb-4">Support Worker App</h5>
	<div class="row">
		<!-- <div class="col-12 col-md-1"></div> -->
		<div class="col-8 offset-md-2">
			<h5 class="support-title mb-4">Choose which feature you want to show</h5>

			<button class="btn me-3 mb-3" 
			[ngClass]="supportAppForm?.indexOf(item) === -1 ? 'btn-outline-gray' : 'btn-outline-primary'"
			*ngFor="let item of featureDetails" (click)="addFeature(item)">
				{{item}}
			</button>
		</div>

	
	</div>
</div>