@import "src/scss/colors";


::ng-deep body{
	background: #f9f9f9 !important;
}

.bg-gray{
	background: #f9f9f9 !important;
}

#main-container{
	background-image: url('/assets/images/placeholder/home-bg.png') !important;
	background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
  min-height: 100vh;
}

.img-container{
	background: rgba(#5E4EA0, 0.7);
	//backdrop-filter: blur(24px);
	border-radius: 24px 0px 0px 24px;
	padding: 10px 60px;
	position: relative !important;
	overflow: hidden;

	.img-banner{
		//background: rgba(255,255,255, 0.2);
		padding: 50px 10px;
		//border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 50px;
		min-height: 580px;
		z-index: 99999 !important;

		@media (max-width: 998px){
			min-height: 100% !important;
		}
	}

	.carousel-indicators{
		position: absolute;
		bottom: -40px;
		button{

			border-radius: 50% !important;
			height: 10px !important;
			width: 10px !important;
			margin-right: 10px;
		}
	}

	.login-logo{
		width: 150px;
		position: absolute;
		top: 14%;
		left: 22%;
	}

	.login-ellipse{
		width: 150px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 9 !important;
	}

	.login-ellipse-2{
		width: 350px;
		position: absolute;
		bottom: 0px;
		left: -120px;
		z-index: 9 !important;
	}

	.login-rectangle{
		width: 150px;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 9 !important;
		opacity: 0.5;
	}

	.login-shake-hands{
		width: 11%;
		position: absolute;
		bottom: 25%;
		left: 20px;
		z-index: 9 !important;
	}

	.login{
		&-circle{
			width: 12%;
			position: absolute;
			top: 25%;
			right: 30px;
			z-index: 999 !important;
		}

		&-heart{
			width: 11%;
			position: absolute;
			top: 28%;
			right: 30px;
			z-index: 999 !important;
		}
	}



	.login-main-image{
		z-index: 9999 !important;
		position: absolute;
		width: 53%;
		bottom: 20px;
		right: 20px;
	}

	.login-text{
		color: white;
		font-size: 28px;
		/* word-wrap: break;
		width: 150px; */
	}
}


.login-container{
	background: rgba(255, 255, 255, 0.2);
	//backdrop-filter: blur(24px);
	border-radius: 24px 24px 24px 24px;
	position: relative;
	min-height: 600px;
	z-index: 99999 !important;

	@media (max-width: 998px){
		min-height: 100% !important;
	}

	.logo-placeholder{
		margin-bottom: 40px;
		width: 140px;
		position: absolute;
		top: 40px;
		left: 15%;
	}

	.login-dots{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100px;
	}

	.forgot-password{
		color: white;

	}

	.btn-login{
		border-radius: 40px !important;
		background: $color-purple-dark !important;
		color: white !important;

		&:hover{
			background: $color-purple-dark !important;
			//border: solid 1px;
		}
	}

	.btn-register{
		border-radius: 40px !important;
		background: transparent !important;
		border: white solid 1px;
		color: white !important;

		&:hover{
			background: $color-purple-dark !important;
			border: none !important;
		}
	}

	.login-title{
		font-size: 34px;
		color: white;
		z-index: 9 !important;
		font-weight: 500 !important;
		font-family: 'Noto Sans' !important;
	}

	.login-description{
		color: white;
		font-family: 'Noto Sans' !important;
		margin-bottom: 0;;
	}

	.line{
		width: 100px;
		height: 2px;
	}
}

.dont-have-account{
  color: white;
  span{
    color: white;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
}


.form-group{
  label {
    position: absolute;
    margin-top: -2em;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
    margin-left: 7px;
    font-size: 16px;
    border-radius: 5px;
    color: white !important;
    padding-left: 5px;
    padding-right: 5px;
    display: none;
  }
}

.form-control{
	background: transparent !important;
	color: white !important;
}

input::placeholder{
	color: #fff;
}

input,
input.ng-pristine {
  position: relative;
  z-index: 1;/* set input on top of label. opaque white bg color can be used to lighten label's color */
  width: 100%;
  display: block;
  //border: none;
  //padding: 20px 0 10px 0;
  //border-bottom: solid 1px #343a40;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: transparent;
  border: solid 1px white;
  //color: transparent;/* hide value if any when label is standing here too */
}

input:focus {
  color: #000;
}


.form-val{
	font-size: 12px !important;
	color: white !important;
	font-size: 12px !important;
	transform: translateY(-2.15em);
	background: rgba(#6251A2,0.8) !important;
	padding-left: 7px !important;
	padding-right: 7px !important;
	.img-plc{
		display: none;
	}
	z-index: 1;
}


input:focus + label, input:active + label {
  font-size: 12px;
  color: white !important;
  font-size: 12px;
  transform: translateY(-2.15em);
  background: rgba(#6251A2,0.8) !important;
  padding-left: 7px !important;
  padding-right: 7px !important;
  .img-plc{
  	display: none;
  }
}

input.ng-dirty + label
{
  font-size: 12px !important;
  color: white !important;
  font-size: 12px !important;
  transform: translateY(-2.15em);
  background: rgba(#6251A2,0.8) !important;
  padding-left: 7px !important;
  padding-right: 7px !important;
  .img-plc{
  	display: none;
  }
}
input:focus,
input:valid {
  outline: none;
}

input.ng-invalid.ng-dirty.ng-touched {
  color:#de87a3 !important; 
  background: rgba(#b55058, 0.05) !important;
  //opacity: 0.1;
  border: solid 0.5px #b55058;
}