<!-- HEADER -->
<!-- <app-header></app-header>
 -->		
 <div class="container-fluid py-5" id="main-container"
 [@animate]="{value:'*', params:{ scale:'.9', delay:'400ms' }}">
     <div class="container">
         <div class="row card-body p-0 px-lg-3 pe-lg-5">
 
             <div class="col-12 col-md-6 offset-md-3 login-container px-3 px-md-5 py-5"
             *ngIf="!loading"
             [ngClass]="''">
                 <!-- Error Message -->
                 <form class="px-3 px-md-5 pt-5" (submit)="resetPassword()" [formGroup]="adminPasswordResetForm">
                     <!-- <img src="/assets/images/placeholder/lama-logo-black.png" class="img-fluid logo-placeholder"> -->
 
                     <h4 class="login-title m-0">Password reset</h4>
                     <p class="text-justify login-description my-2">
                        To complete your password reset, please follow these simple steps:
                     </p> 
                     <ul class="mb-2">
                        <li class="text-white">Enter your new password: Choose a strong and unique password that you'll use to secure your account.</li>
                        <li class="text-white">Confirm your new password: Re-enter the same password to ensure accuracy.</li>
                        <li class="text-white">Click 'Reset Password': Once you've entered and confirmed your new password, click the 'Reset Password' button to save your changes.</li>
                     </ul>
                     <div class="alert alert-danger alert-dismissible fade show error-message" [@animate]="{value:'*', params:{ y:'50px', delay:'600ms' }}" 
                        *ngIf="(adminPasswordResetForm.controls['new_password'].value && adminPasswordResetForm.controls['confirm_password'].value) && adminPasswordResetForm.hasError('passwordMismatch')" 
                        role="alert">
                        <button type="button" class="btn-close hvr-buzz-out" data-bs-dismiss="alert" aria-label="Close" (click)="onAlertClose()"></button>
                        <span [innerHtml]="message"></span>
                    </div>  
                     <div class="form-group mt-4">
                         <img src="/assets/images/placeholder/show-password.png" 
                         style="width: 22px;height: 23px; cursor: pointer; margin-left: -35px; 
                         margin-top: 7px; position: absolute; right: 105px; z-index: 999999 !important;" 
                         (click)="adjustType()">
 
                         <input [type]="inputType" class="form-control" id="password" 
                         autocomplete="password"
                         placeholder="Password" formControlName="new_password" style="z-index: 9999 !important;">
                        
                         <label for="password" class="d-flex" style="z-index: 99999 !important;"
                         [@animate]="{value:'*', params:{ scale:'.9', delay:'200ms' }}"
                         *ngIf="adminPasswordResetForm.controls['new_password'].value"
                         [ngClass]="adminPasswordResetForm.controls['new_password'].value ? 'form-val' : ''">
                             <div>
                                 <img src="/assets/images/icons/password-white.png" width="23px"  class="img-fluid me-2 img-plc" style="margin-top: -2px;">
                             </div>
 
                             <div>Password</div>
                         </label>

                     </div>
                     <span class="text-danger mt-2" [@animate]="{value:'*', params:{ y:'50px', delay:'600ms' }}" *ngIf="adminPasswordResetForm.controls['new_password'].hasError('minlength')">Password too short.</span>
                     <span class="text-danger mt-2" [@animate]="{value:'*', params:{ y:'50px', delay:'600ms' }}" *ngIf="adminPasswordResetForm.controls['new_password'].hasError('required') && adminPasswordResetForm.controls['new_password'].touched">Password is required.</span>
 
                     <div class="form-group mt-4">
                         <img src="/assets/images/placeholder/show-password.png" 
                         style="width: 22px;height: 23px; cursor: pointer; margin-left: -35px; 
                         margin-top: 7px; position: absolute; right: 105px; z-index: 999999 !important;" 
                         (click)="adjustType()">
 
                         <input [type]="inputType" class="form-control" id="confirm_password" 
                         autocomplete="confirm_password"
                         placeholder="Confirm Password" formControlName="confirm_password" style="z-index: 9999 !important;">
 
                         <label for="confirm_password" class="d-flex" style="z-index: 99999 !important;"
                         [@animate]="{value:'*', params:{ scale:'.9', delay:'200ms' }}"
                         *ngIf="adminPasswordResetForm.controls['confirm_password'].value"
                         [ngClass]="adminPasswordResetForm.controls['confirm_password'].value ? 'form-val' : ''">
                             <div>
                                 <img src="/assets/images/icons/password-white.png" width="23px"  class="img-fluid me-2 img-plc" style="margin-top: -2px;">
                             </div>
 
                             <div>Password</div>
                         </label>
                     </div>
                     <br>
                     <button type="submit" class="btn btn-login w-100 mt-4"
                     [disabled]="submitting ">Reset Password
                         <img src="/assets/images/placeholder/loading-login.gif" width="20px" class="img-fluid float-end" *ngIf="submitting">
                     </button>
 
                 </form> 
             </div>
 
             
         </div>
     </div>
 </div>
 