<!-- Promotion Email -->

<div style="width: 55vw; max-height: 96vh; border-top: solid 7px #512C77;
border-top-left-radius: 4px; border-top-right-radius: 4px; ">
	<div style="text-align: center; background:#f1f1f1; padding: 25px 20px;">
		<img src="https://res.cloudinary.com/branding-tool/image/upload/v1679453465/lama-logo-black.png"
		style="width: 170px">
	</div>

	<h4 style="margin: 20px; ">
		No signup fee, free trial for 14 days and early adopter’s fee!

		<br>Express your interest today for a cost-effective solution for your business.
	</h4>

	<p style="margin: 20px">
		We are looking for organisations to be part of our founding members group.<br>
		We have 10 slots available, and our purpose is to invite organisations that share our values, vision, and mission.
	</p>

	<p style="margin: 20px">Lama Care is a software that helps you run your business more efficiently, with less stress and more time to look after your clients. It allows you to focus on the things that matter, which is what we do!</p>

	<p style="margin: 20px 20px 0px 20px">Our amazing offer as a founding member:</p>

	<ul style="margin: 0px 20px 20px 20px">
		<li>
			No signup fees.
		</li>
		<li>
			Free trial for 14 days.
		</li>
		<li>
			Early adopters fee per active client remains the same throughout the lifetime of your subscription.
		</li>
	</ul>

	<h5 style="margin: 20px">
		This is a limited time offer so please send your expression of interest by filling in the attached form ASAP.

		We will be in touch over the coming weeks to discuss this incredible offer.
	</h5>

	<div style="margin: 20px">
		<button style="color: white; background: #512C77; border-radius: 18px; padding: 10px 25px; border: none; font-size: 14px; outline: none;" (click)="dialogRef.close()">Register your interest</button>
	</div>
</div>



<!-- Subscription is about to expire

<div style="text-align: center; ">
	<div style="width: 37vw; max-height: 96vh; overflow-y: auto; border-top: solid 7px #512C77;
	border-top-left-radius: 4px; border-top-right-radius: 4px; ">
		<div style="text-align: center; background:#f1f1f1; padding: 20px 0px;">
			<img src="https://res.cloudinary.com/branding-tool/image/upload/v1679453465/lama-logo-black.png"
			style="width: 170px; margin-left: -30px">
		</div>

		<div style="margin: 30px 30px 10px 30px; text-align: center; ">
			<img src="https://res.cloudinary.com/branding-tool/image/upload/v1679628823/deadline.svg" style="width: 120px; height: auto;">

			<h4 style="margin: 10px 20px 20px 20px; text-transform: uppercase;
			text-align: center; font-weight: bold; line-height: 38px; color: #404040">
				To our valuable Lama <br>Care subscriber
			</h4>
		</div>

		<div style="text-align:left">
			<h5 style="margin: 20px; font-weight: 500">
				Thank you for trying our service! We appreciate your evaluation and support.

				<br><br>We would like to remind you that your subscription is about to expire. To keep using the Lama platform, please click the link the below to continue.
			</h5>

			<h5 style="margin: 20px; font-weight: 500">
				If you have any questions, please contact
				<a href="info@lamacare.com.au" target="_blank" style="color: #404040; font-weight: bold;">info@lamacare.com.au</a>
			</h5>

			<div style="margin: 30px 20px">
				<button style="color: white; background: #512C77; border-radius: 18px; padding: 10px 25px; border: none; font-size: 14px; outline: none;">

					<a style="text-decoration: none; color: white;"
					href="https://www.lamacare.com.au/pricing/payment/eyJpbnRlZ3JhdGlvbkRhdGEiOnt9LCJwbGFuSWQiOiI0YWI3NjI4Ni1mOTRjLTQwMjUtYjAwMy00ZTBhZDg4OWY2ZWIifQ">Upgrade Now</a>
				</button>
			</div>

			<h5 style="margin: 20px 20px 0px 20px; font-weight: 500; font-size: 17px; line-height: 22px; color: #464646">
				Cheers,
			</h5>

			<h5 style="margin: 0px 20px 20px 20px; font-weight: bold; font-size: 17px; line-height: 22px">
				The Lama Team
			</h5>
		</div>
	</div>
</div> -->

<!-- SUBSCRIPTION HAS EXPIRED
<div style="text-align: center; ">
	<div style="width: 37vw; max-height: 96vh; overflow-y: auto; border-top: solid 7px #512C77;
	border-top-left-radius: 4px; border-top-right-radius: 4px; ">
		<div style="text-align: center; background:#f1f1f1; padding: 20px 0px;">
			<img src="https://res.cloudinary.com/branding-tool/image/upload/v1679453465/lama-logo-black.png"
			style="width: 170px; margin-left: -30px">
		</div>

		<div style="margin: 30px 30px 10px 30px; text-align: center; ">
			<img src="https://res.cloudinary.com/branding-tool/image/upload/v1679628823/deadline.svg" style="width: 120px; height: auto;">

			<h4 style="margin: 10px 20px 20px 20px; text-transform: uppercase;
			text-align: center; font-weight: bold; line-height: 38px; color: #404040">
				To our valuable Lama <br>Care subscriber
			</h4>
		</div>

		<div style="text-align:left">
			<h5 style="margin: 20px; font-weight: 500">
				Thank you for trying our service! We appreciate your evaluation and support.

				<br><br>We would like to remind you that your subscription has expired and if you would like to continue using our platform, please renew from the link below.
			</h5>

			<h5 style="margin: 20px; font-weight: 500">
				If you have any questions, please contact
				<a href="info@lamacare.com.au" target="_blank" style="color: #404040; font-weight: bold;">info@lamacare.com.au</a>
			</h5>

			<div style="margin: 30px 20px">
				<button style="color: white; background: #512C77; border-radius: 18px; padding: 10px 25px; border: none; font-size: 14px; outline: none;">

					<a style="text-decoration: none; color: white;"
					href="https://www.lamacare.com.au/pricing/payment/eyJpbnRlZ3JhdGlvbkRhdGEiOnt9LCJwbGFuSWQiOiI0YWI3NjI4Ni1mOTRjLTQwMjUtYjAwMy00ZTBhZDg4OWY2ZWIifQ">Upgrade Now</a>
				</button>
			</div>

			<h5 style="margin: 20px 20px 0px 20px; font-weight: 500; font-size: 17px; line-height: 22px; color: #464646">
				Cheers,
			</h5>

			<h5 style="margin: 0px 20px 20px 20px; font-weight: bold; font-size: 17px; line-height: 22px">
				The Lama Team
			</h5>
		</div>
	</div>
</div>  -->

<!-- Subscription Register
<div style="text-align: center; ">
	<div style="width: 47vw; max-height: 96vh; overflow-y: auto; border-top: solid 7px #512C77;
	border-top-left-radius: 4px; border-top-right-radius: 4px; ">
		<div style="text-align: center; background:#f1f1f1; padding: 20px 0px;">
			<img src="https://res.cloudinary.com/branding-tool/image/upload/v1679453465/lama-logo-black.png"
			style="width: 170px; margin-left: -30px">
		</div>

		<div style="margin: 30px 30px 10px 30px; text-align: center; ">
			<img src="https://res.cloudinary.com/branding-tool/image/upload/v1679628823/deadline.svg" style="width: 120px; height: auto;">

			<h4 style="margin: 10px 20px 20px 20px; text-transform: uppercase;
			text-align: center; font-weight: bold; line-height: 38px; color: #404040">
				Welcome to Lama Care!
			</h4>
		</div>

		<div style="text-align:left">
			<h5 style="margin: 20px; font-weight: 500">
				We are delighted to have you as part of our community of Lama Care users and we hope that you will find the service valuable in your business.

				<br><br>
				We wanted to take this opportunity to tell you about what's next for you.
				<br><br>
				Here's what to expect: Powerful tools, big ideas, and one platform. You'll be able to manage everything from customer support to linking your payments in one place—and all through a simple dashboard that's accessible from anywhere.
				<br><br>
				You'll also have access to a team of specialists who can help you make the most of our platform by providing real-time assistance whenever you need it.
				<br><br>
				We would like to remind you that your subscription starts today. You'll be charged to your linked credit card after 14 days.
			</h5>

			<div style="margin: 30px 20px">
				<button style="color: white; background: #512C77; border-radius: 18px; padding: 10px 25px; border: none; font-size: 14px; outline: none;">

					<a style="text-decoration: none; color: white;"
					href="https://www.lamacare.com.au/pricing/payment/eyJpbnRlZ3JhdGlvbkRhdGEiOnt9LCJwbGFuSWQiOiI0YWI3NjI4Ni1mOTRjLTQwMjUtYjAwMy00ZTBhZDg4OWY2ZWIifQ">Upgrade Now</a>
				</button>
			</div>

			<h5 style="margin: 20px 20px 0px 20px; font-weight: 500; font-size: 17px; line-height: 22px; color: #464646">
				Thank you for subscribing to Lama Care!
			</h5>

			<h5 style="margin: 0px 20px 20px 20px; font-weight: bold; font-size: 17px; line-height: 22px">
				The Lama Team
			</h5>
		</div>
	</div>
</div> -->
