<div class="card-form">
	<div mat-dialog-title>
		<h5 class="mat-dialog-title">Compliance Check</h5>
		<hr>
	</div>
	<form *ngIf="!loading" [formGroup]="certificateForm">
		<div mat-dialog-content>
			<div class="row">
				<div class="col-sm-12">
					<app-textfield 
					[required]="true"
					[readonly]="true"
					label="Employee Name" 
					[labelTop]="true"
					formControlName="employeeName">
					</app-textfield>

					<app-dropdown 
					label="Status" 
					[required]="true"
					[labelTop]="true"
					formControlName="status" 
					[options]="statusOption">
					</app-dropdown>

					<app-date-picker 
						label="Expiry Date" 
						[labelTop]="true"
						[required]="data ? (data?.item?.type === 'License' || data?.item?.type === 'Passport') : false "
						formControlName="expiry_date">
					</app-date-picker>

					<app-dropdown 
					label="Type" 
					[labelTop]="true"
					formControlName="type" 
					[disabled]="true"
					[options]="typeOption">
					</app-dropdown>
		
					<app-search-list 
					label="Qualification" 
					[readonly]="true"
					[labelTop]="true"
					formControlName="qualifications" 
					[options]="qualificationList">
					</app-search-list>

					<app-textarea
					label="Description" 
					[labelTop]="true"
					[required]="true"
					[readonly]="true"
					formControlName="description">
					</app-textarea>

					<app-textarea 
					label="Remarks/ Notes" 
					[labelTop]="true"
					formControlName="remarks">
					</app-textarea>

					<app-field-upload
					label="Upload File"
					[labelTop]="true"
					#upload 
					(upload)="onUpload($event)"
					>
					</app-field-upload>
				</div>
			</div>
		</div>
		<div mat-dialog-actions>
			<div class="row text-center mb-3 w-100">
				<div class="col-sm-12 text-center w-100">
					<hr><br>

					<button mat-button (click)="close()" 
					class="btn btn-header-gray btn-header me-3">Close</button>

					<button mat-button (click)="save()" 
					[disabled]="!certificateForm.valid || !file"
					cdkFocusInitial class="btn btn-primary btn-header me-3">Save</button>
				</div>
			</div>
		</div>
	</form>
	<!-- LOADING ANIMATION SCREEN -->
	<global-admin-loader 
		[withSideBar]="false"
		[fromDetailTab]="true"
		[loading]="loading">
	</global-admin-loader>
</div>