<div class="px-1 mb-3"  [@animate]="{value:'*', params:{ x:'100px', delay:'200ms' }}">
	<div class="banner-container w-100">
		<h4 style="z-index: 999;">{{title}} Client
			<h5 class="float-end">{{label}}</h5>
		</h4>
		

		<!-- <img src="/assets/images/placeholder/branch-banner-image.png" class="img-fluid banner-main"> -->
		<!-- <img src="/assets/images/placeholder/line-1.png" class="img-fluid banner-line-1" style="z-index: 99;"> -->
		<img src="/assets/images/placeholder/line-4.png" class="img-fluid banner-line-2" style="z-index: 99;">

		<!-- <img src="/assets/images/placeholder/line-5.png" class="img-fluid banner-line-3" style="z-index: 99;"> -->
		<!-- <img src="/assets/images/placeholder/banner-dots-right.png" class="img-fluid banner-dots-right">
		<img src="/assets/images/placeholder/banner-eclipse-right.png" class="img-fluid banner-eclipse-right"> -->
	</div>

</div>
<!-- <div class="row" [@animate]="{value:'*', params:{ x:'100px', delay:'200ms' }}">
	<div class="col-sm-12" id="banner-container">
		<p class="banner-text">{{label}}</p>
		<img src="/assets/images/banner.png" class="img img-fluid" width="100%" style="height: 220px;">

		<img src="/assets/images/placeholder/business.png" 
		[@animate]="{value:'*', params:{ y:'100px', delay:'300ms' }}"
		class="img img-fluid banner-icon" > 
	</div>
</div> -->