@import "src/scss/colors";

:host ::ng-deep{
  ::-webkit-scrollbar {
    width: 5px !important;
    height: 10px;
    cursor: move; /* fallback if grab cursor is unsupported */
  }
}

.card{
    border-radius: 8px !important;
    border-color: white !important;
    //box-shadow: none !important
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
}

h5{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    color: $color-gray-dark;
    margin-bottom: 15px;
}

.main-title{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 600;
    color: $color-gray-dark;
    position: relative;
}

.date-filter{
    font-size: 12px;

    img{
        cursor: pointer;
    }
}

.bg-whitesmoke{
    background: whitesmoke !important;
}

.bg-gray{
    background: #f8f8f8;
}

.card{
    text-align: left;
}

.btn-view-all{
    color: $color-purple;
    font-size: 13px;
    background: #f2f3fe;
    padding: 5px 10px !important;
    border-radius: 6px !important;
    font-weight: 500;
    margin-top: -5px;

    &:hover{
        text-decoration: underline;
    }
}

.schedule{
    padding: 10px 20px;

    &-active{
        background: $color-purple-blue;
        color: white;
        border-radius: 7px;
        cursor: pointer;

        &-title{
            //margin-bottom: 5px;
            color: white;
            font-weight: 500;
        }

        &-time{
            margin-bottom: 0px !important;
        }

        &-client{
            margin-bottom: 5px;
        }
    }

    &-next{
        background: #DEE1F9;
        border-radius: 7px;
        cursor: pointer;

        .schedule-active-title {
            font-weight: 500;
            color: $color-purple-blue !important;
        }

        .schedule-active-time{
            margin-bottom: 0px !important;
            color: $color-purple-blue !important;
        }

        .schedule-active-client{
            margin-bottom: 5px;
            color: $color-purple-blue !important;
        }

        
    }
}

#task-table{
    width: 100% !important;
    min-width: 100% !important;
    background: #F7F9FE;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 7px !important;

    .title-date{
        font-size: 21px;
        font-weight: 700 !important;
        color: $color-purple-dark !important;
    }

    .title-header{
        font-weight: 700 !important;
        color: $color-purple-dark !important;
    }   

    .highlight{
        background: rgba(#613383, 0.15);
        border-radius: 7px !important;
    }

    table{
        border-collapse: collapse;
        border: none !important;
        padding: 10px 20px !important;

        tr{
            &:hover{
                background: transparent !important;
            }
        }

        thead{
            tr{
                border-bottom: solid 0px rgba(white, 0) !important;
                th{
                    padding-top: 10px;
                    padding-bottom: 10px;
                    //min-width: 100%;
                    text-align: center;
                    border-bottom: solid 0px rgba(white, 0) !important;
                }
            }
        }

        tbody{
            tr{
                border-bottom: solid 0px rgba(white, 0) !important;
                margin-bottom: 10px;

                td{
                    //min-width: 100%;
                    text-align: center;
                    padding: 10px 5px;
                    border-bottom: solid 0px rgba(white, 0) !important;
                    .time{
                        cursor: pointer;

                        &-active{
                            background: $color-purple-blue;
                            color: white;
                            border-radius: 7px;
                            padding: 5px 10px;
                        }

                        &-next{
                            background: rgb(170,176,218);
                            color: white;
                            border-radius: 7px;
                            padding: 5px 10px;
                        }
                    }
                }

                .time-range-start{
                    background: rgb(170,176,218);
                    color: white;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }

                .time-range-end{
                    background: rgb(170,176,218);
                    color: white;
                    border-bottom-right-radius: 10px;
                    border-top-right-radius: 10px;
                }
            }
        }
    }

    
}

#my-tasks-container{
    
    @media (max-width: 998px){
        padding-right: 0 !important;
    }

    .table{
        tr{
            padding-top: 35px;
            padding-bottom: 35px;
            border-bottom: white solid 1px;
            cursor: pointer;
            &:hover{
                background: #F7F9FE;
            }
        }
    }

    //height: 100px !important;
    .task-description{
        font-size: 13px;
        font-weight: 600;
        color: $color-gray;
    }

    .task-id{
        font-size: 13px;
    }
}

.task-div {
    width: 100%;
    white-space: nowrap;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;

    div {
        width: 300px; 
        margin-left: 10px; 
        margin-right: 10px;
    }
}


.employee-task-table{

    .btn-status{
        margin-top: -5px !important;
        padding: 5px 5px !important;
        color: white;
        border-radius: 5px !important;
        width: 90px !important;
    }

    table{
        th{
            background: rgba($color-purple, .9);
            color: white;
            font-weight: 500;
            padding-left: 15px !important;

            &:first-child{
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            &:last-child{
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }

        td{
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px !important;
        }

        tr{
            &:not(:last-child){
                td{
                    border-bottom: solid 1px #e9e9e9;
                }
            }
        }
    }

    .to-do{
        background: rgba(#E5505D, 0.3);
        color: #E5505D;
        font-weight: 500 !important;
        font-size: 11px !important;
    }

    .not-started{
        background: rgba(225, 228, 232, 1);
        color: $color-gray;
        font-weight: 500 !important;
        font-size: 11px !important;
    }

    .in-progress{
        background: rgba(252, 132, 39, 0.3);
        color: #FC8427;
        font-weight: 500 !important;
        font-size: 11px !important;
    }

    .archive{
        background: rgba(225, 228, 232, 1);
        color: $color-gray;
        font-weight: 500 !important;
        font-size: 11px !important;
    }

    .done{
        background: rgba(86, 179, 144, 0.5);
        color: #1B998A;
        font-weight: 500 !important;
        font-size: 11px !important;
    }

    .active{
        color: #4D4D4D;
        background: #E1E4E8;
        font-weight: 500 !important;
        font-size: 11px !important;
    }

    .inactive{
        background: rgba(252, 132, 39, 0.3);
        color: #FC8427;
        font-weight: 500 !important;
        font-size: 12px !important;
    }

}