<div class="card card-body mt-3 py-5 px-md-5">
	
	<form [formGroup]="portalForm">
		<!-- <h5 class="text-center my-4">Portal</h5>
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3">
				<app-radio-button 
					label="Show Portal Funding" 
					formControlName="show_portal_funding"
					[options]="radioOptions">
				</app-radio-button>

				<app-radio-button 
					label="Show Portal All Documents" 
					formControlName="show_portal_all_documents"
					[options]="radioOptions">
				</app-radio-button>
			</div>

		</div> -->

		<h5 class="text-center my-4">Client App</h5>
		<div class="row">
			<div class="col-12 col-md-6 offset-md-3">
				<app-radio-button 
					label="Show Client Plan Balances" 
					formControlName="show_client_plan_balances"
					[options]="radioOptions">
				</app-radio-button>

				<app-radio-button 
					label="Show Client Service History" 
					formControlName="show_client_service_history"
					[options]="radioOptions">
				</app-radio-button>

				<app-radio-button 
					label="Allow Client Service Request" 
					formControlName="allow_client_service_request"
					[options]="radioOptions">
				</app-radio-button>
			</div>

		</div>
	</form>
</div>