
<div class="assign-action-container px-0" *ngIf="data?.action === 'delete'">
	<img src="/assets/images/icons/danger.png" class="img-fluid" width="30px">

	<h5 class="header-text-action">{{data?.title || 'Delete a record!'}}</h5>
	<h5 class="header-text mt-2">Are you sure you want to delete this record? Record will permanently be deleted. Click continue to proceed</h5>
</div>

<div class="assign-action-container px-0" *ngIf="data?.action === 'archive'">
	<img src="/assets/images/icons/document-empty.png" class="img-fluid" width="30px">

	<h5 class="header-text-action">{{data?.title || 'Archive a record!'}}</h5>
	<h5 class="header-text mt-2">Are you sure you want to archive this record? Record will moved to the archive section. Click continue to proceed</h5>
</div>

<div mat-dialog-actions>
	<div class="row container">

		<div class="col-md-12 text-center">
			<button 
			mat-button 
			(click)="dialogRef.close()" 
			class="btn  btn-header-gray ms-3">Cancel</button>

			<button 
			mat-button 
			(click)="closeSaveDialog()" 
			[ngClass]="data?.action === 'delete' ? 'btn btn-danger' : 'btn btn-warning'">Continue</button>
		</div>
	</div>
</div>
