<div class="main-container" style="position: relative !important; min-height: 100vh;">

	<div class="pt-lg-3">
		<div class="container-fluid px-md-4">
			<div class="img-container" 
			[@animate]="{value:'*', params:{ y:'-100px', delay:'500ms' }}">
				<div class="row d-lg-flex ps-md-5" >
					<div class="col-12 col-md-3 flex-lg-wrap left mb-3 mb-md-0" style="position: relative;">
						<div class="w-100 card card-body py-4" style="margin-top: -30px; z-index: 9;">
							<lama-stepper 
							[stepperList]="steps" 
							[isVerticalClick]="true"
							[selectedIndex]="formStep - 1" #stepper 
							(selectionChanged)="updateStepperClick($event.selectedIndex + 1)"
							[orientation]="'vertical'"></lama-stepper>
						</div>
					</div>

					<div class="col-12 col-md-9 flex-lg-wrap mb-3 right" style="position: relative;">
						<div class="card card-body p-5" *ngIf="!loading">	

							<div class="w-100">
								<app-sign-up-organization-details
								*ngIf="formStep === 1"
								[navigation]="navigation"
								[organizationData]="organizationData"
								[organizationDetailData]="adminSignupOnboardingData.organizationDetails"
								(updateStepper)="updateStepper($event)"
								(submitData)="updateOrganizationDetails($event)"
								(formStep)="getNavigation($event)"
								(isValid)="checkFormValidity($event)">
								</app-sign-up-organization-details>

								<app-sign-up-understanding-needs
								*ngIf="formStep === 2"
								[navigation]="navigation"
								[organizationData]="organizationData"
								(updateStepper)="updateStepper($event)"
								[understandingNeedData]="adminSignupOnboardingData.understandingNeeds"
								(submitData)="updateUnderStandingNeeds($event)"
								(formStep)="getNavigation($event)"
								(isValid)="checkFormValidity($event)">
								</app-sign-up-understanding-needs>

								<app-sign-up-safety-information
								*ngIf="formStep === 3"
								[navigation]="navigation"
								[organizationData]="organizationData"
								(updateStepper)="updateStepper($event)"
								[safetyInformationData]="adminSignupOnboardingData.safetyInformation"
								(submitData)="updateSafetyInformation($event)"
								(formStep)="getNavigation($event)"
								(isValid)="checkFormValidity($event)">
								</app-sign-up-safety-information>

								<app-sign-up-finance-and-legal
								*ngIf="formStep === 4 || formStep === 5"
								[navigation]="navigation"
								[organizationData]="organizationData"
								(updateStepper)="updateStepper($event)"
								[financeAndLegalFormData]="adminSignupOnboardingData.financeAndLegal"
								(submitData)="updateFinanceAndLegal($event)"
								(formStep)="getNavigation($event)"
								(isValid)="checkFormValidity($event)">
								</app-sign-up-finance-and-legal>
							</div>
						</div>

						<div class="card card-body p-5" *ngIf="loading">
							<global-admin-loader 
								[withSideBar]="false"
								[fromDetailTab]="true"
								[loading]="loading">
							</global-admin-loader>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


