@import "src/scss/colors";

.card{
    border-radius: 8px !important;
    border-color: white !important;
    //box-shadow: none !important
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
}

.main-title{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    color: $color-gray-dark;
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px dashed rgba(196, 196, 196, 0.6);
}

.bg-whitesmoke{
    background: whitesmoke !important;
}

.bg-gray{
    background: #f8f8f8;
}

.card{
    text-align: left;
}

.btn-view-all{
    //background: red;
    padding: 0 !important;
    color: $color-purple;
    font-weight: 600 !important;
    font-family: 'Noto Sans' !important;
}

.table{
    font-family: 'Noto Sans' !important;

    thead{
        tr{
            //background: #F4F3FB;

            th{
                color: $color-gray;
                font-weight: 600;
                border-bottom: solid #e0e0e0 1px !important;
                font-family: 'Noto Sans';
                font-size: 14px;
            }
            
        }
    }

    tbody{
        tr{

            //border: none !important;
            border-color: transparent;

            td{
                padding-top: 10px !important;
                font-size: 14px;
                font-weight: 400 !important;
                color: $color-gray;
                img{
                    border-radius: 50%;
                }
            }
        }
    }
}