@import "src/scss/colors";
.shadow-3{
    background: white;
    box-shadow: 2px 2px 8px rgba(89, 89, 89, 0.15);
    -webkit-box-shadow: 2px 2px 8px rgba(89, 89, 89, 0.15);
    -moz-box-shadow: 2px 2px 8px rgba(89, 89, 89, 0.15);
}
.card{
    margin-top: -7px;
    //border-top: dashed #c9c9c9 1px !important;
    //border-radius: 0 !important;

}
:host ::ng-deep {
    .card-form {
        //padding-left: 20px;
        //padding-right: 20px;
        margin-top: 10px;


        .mat-card {
            /* box-shadow: 0px 4px 5px rgba(102, 102, 102, 0.25);
            -webkit-box-shadow: 0px 4px 5px rgba(102, 102, 102, 0.25);
            -moz-box-shadow: 0px 4px 5px rgba(102, 102, 102, 0.25);
            border-radius: 20px; */

            border-radius: 8px !important;
            box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
            -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);

            padding: 25px 0px;

            .mat-card-title{
                font-size: 20px;
                color: $color-gray-dark;

                hr {
                    border: 0.5px solid #777777;
                    margin-bottom: 30px;
                }
            }

            .mat-card-content {
                padding: 0 50px 0 50px;

                .table-border{
                    border: 1px solid #BDBDBD;
                    box-sizing: border-box;
                    border-radius: 6px;
                }
            }

            .mat-card-actions{
                padding: 10px 25px;

                .btn-header-gray{
                    background: #D0D0D0;
                    color: $color-gray-dark;
                }

                .btn-header{
                    border-radius: 5px !important;
                    padding: 7px 30px !important;
                }
            }
        }
    }
}

.table-label{
    font-weight: 600;
    font-size: 15px;
    color: $color-gray-dark
}

.view-more{
    text-decoration: underline;
    color: $color-purple;
    font-weight: 600;
    font-family: 'Noto Sans';
}

.add-new{
    cursor: pointer;
}

.table{
    thead{
        tr{
            //background: #F4F3FB;

            th{
                color: $color-gray;
                font-weight: 600;
                border-bottom: solid #e0e0e0 1px !important;
                font-family: 'Noto Sans';
                font-size: 13px;
                max-width: 180px !important;
            }
            
        }
    }

    tbody{
        tr{
            td{
                color: $color-gray;
                font-weight: 400;
                max-width: 180px !important;

                p{
                    padding-top: 20px;
                    font-weight: 400;
                    color: $color-gray;

                }
            }
        }

        tr:last-child{
            border-bottom: solid white 1px !important;


        }
    }
}

.table-border{
    border: solid #C5C5C5 1px !important;
    border-radius: 6px;
    padding: 10px;
    padding-bottom: 0 !important;
    padding-top: 20px;
}