<div class="card-form">
	<div mat-dialog-title>
		<h5 class="mat-dialog-title"><span *ngIf="!data; else showUpdate">Add</span>
            <ng-template #showUpdate>Update</ng-template> a Task</h5>
		<hr>
	</div>
	<form *ngIf="!loading && !loadingGoals" [formGroup]="addTaskForm">
		<div mat-dialog-content>
            <app-textfield 
                label="Task Name"
                [labelTop]="true"
                [required]="true"
                formControlName="task_name">
            </app-textfield>

            <app-textarea 
                label="Description"
                [labelTop]="true"
                formControlName="description">
            </app-textarea>

            <app-search-list 
                label="Related Goal"
                [labelTop]="true"
                formControlName="goal_id"
                [options]="goalEnums">
            </app-search-list>

            <app-search-list 
                label="Assigned To"
                [labelTop]="true"
                [required]="true"
                formControlName="assigned_to"
                [options]="employeeEnums">
            </app-search-list>

            <app-search-list 
                label="Associated Client"
                [labelTop]="true"
                formControlName="client_id"
                [options]="clientEnums">
            </app-search-list>
            
            <app-dropdown 
                label="Link to a shift"
                [labelTop]="true"
                formControlName="link_to_a_shift"
                [options]="linkToShift">
            </app-dropdown>

            <app-date-picker 
                label="Due Date"
                [labelTop]="true"
                [required]="true"
                formControlName="due_date">
            </app-date-picker>

            <app-time-picker 
                label="Start time" 
                [labelTop]="true"
                formControlName="start_time"
                [required]="true">
            </app-time-picker>

            <app-time-picker 
                label="End time" 
                [labelTop]="true"
                formControlName="end_time"
                [required]="true">
            </app-time-picker>

            <app-dropdown 
                label="Status"
                [required]="true"
                [labelTop]="true"
                formControlName="status"
                [options]="status">
            </app-dropdown>

            <app-dropdown 
                label="Priority Level"
                [required]="true"
                [labelTop]="true"
                formControlName="priority_level"
                [options]="priorityLevel">
            </app-dropdown>

            <app-field-upload
            label="Upload File"
            [labelTop]="true"
            #upload 
            (upload)="onUpload($event)"
            >
            </app-field-upload>

            <!-- <mat-checkbox class="ms-4" color="primary" formControlName="save_template">
            	<span class="text-muted">Save as Template</span>
            </mat-checkbox> -->
		</div>
		<div mat-dialog-actions>
			<div class="text-center mb-3 px-0 w-100">
				<hr><br>

				<button mat-button (click)="close()" 
				class="btn btn-header-gray btn-header me-3">Close</button>

				<button mat-button (click)="save()" [disabled]="!addTaskForm.valid"
				cdkFocusInitial class="btn btn-primary btn-header me-3">Save</button>
			</div>
		</div>
	</form>

    <global-admin-loader 
        [withSideBar]="false"
        [fromDetailTab]="true"
        [loading]="loading || loadingGoals"
        [formOnly]="true">
    </global-admin-loader>

</div>