<div class="card" *ngIf="!loading"
	[@animate]="{value:'*', params:{ y:'-100px', delay:'300ms' }}">
	<div class="card-body px-4" id="client-feed-body">

		<!-- FROM INPUT -->
		<div class="client-feed d-flex hvr-sweep-to-bottom" *ngFor="let feeds of liveFeeds">
			<div class="client-feed-circle-tick active"></div>
			<img class="me-4 flex-wrap img img-fluid" 
			[defaultImage]="defaultImage" 
			[lazyLoad]="feeds.feed?.profile_image">
			<div class="flex-wrap">
				<p class="client-feed-text" 
				[title]="feeds.feed?.name + ' ' + feeds.feed?.details">
					<strong>{{feeds.feed?.name}}</strong> {{feeds.feed?.details}} 
				</p>
				<span class="client-feed-text-muted">{{feeds.feed?.date}}</span>
			</div>
		</div>

		<!-- FROM INPUT - SHOW TWICE TO CHECK IF SCROLL IS HIDDEN -->
		<div class="client-feed d-flex hvr-sweep-to-bottom" *ngFor="let feeds of liveFeeds">
			<div class="client-feed-circle-tick active"></div>
			<img class="me-4 flex-wrap img img-fluid" 
			[defaultImage]="defaultImage" 
			[lazyLoad]="''">
			<div class="flex-wrap">
				<p class="client-feed-text"
				[title]="feeds.feed?.name + ' ' + feeds.feed?.details">
					<strong>{{feeds.feed?.name}}</strong> {{feeds.feed?.details}} 
				</p>
				<span class="client-feed-text-muted">{{feeds.feed?.date}}</span>
			</div>
		</div>


	</div>
</div>

