<div id="employee-appraisal-container">
	<!-- BUTTONS CONTROLLER 
	<employee-details-navigation
		[id]="id"
		[activeLink]="'appraisal-client'">
	</employee-details-navigation>-->


	<!-- DOCUMENT FILE DATA -->
	<div class=""
	style="width: 100% !important; min-height: 400px;" 
	[@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}">
		<!-- DOCUMENT FILE DATA -->
		<div class="card card-body"  *ngIf="!loading"
		style="width: 100% !important; min-height: 400px;" 
		[@animate]="{value:'*', params:{ x:'-50px', delay:'200ms' }}">
			Service Calendar here {{id}}
		</div>

		<!-- LOADING ANIMATION SCREEN -->
		<global-admin-loader 
			[withSideBar]="false"
			[fromDetailTab]="true"
			[loading]="loading">
		</global-admin-loader>
	</div>
</div>